USE [RealA_FX]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetRate終値_Monthly]
	@通貨ペアNo		tinyint,
	@now			datetime,
	@back_Month		smallint,
	@買い_終値		float	output,
	@売り_終値		float	output
AS
BEGIN

	DECLARE @ThisMonth datetime
	DECLARE @StartDate datetime
	DECLARE @EndDate datetime
	EXECUTE [cmn].[SP_GetThisMonth] @now, @back_Month, @ThisMonth OUTPUT, @StartDate OUTPUT, @EndDate OUTPUT

	SELECT @買い_終値 = [買い_終値], @売り_終値 = [買い_終値]
	FROM [dbo].[T_RateHistory_Monthly]
	WHERE 通貨ペアNo = @通貨ペアNo and 日時 = @ThisMonth

END

GO
