USE [RealA_FX]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [mtnc].[SP_RebuildTable]
AS
BEGIN

	SET NOCOUNT ON;

	ALTER TABLE [dbo].T_AccountsHistory REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_ClosedTrades REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_RateHistory REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_Rate週トレンド REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_SortCloseTradeTmp REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_SortTmp REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_Trades REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_TradeSumury_買い REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_year_wk REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_システム状況 REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_差損益History REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_注文設定History REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_注文設定History2 REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].[T_通貨ペアMst] REBUILD WITH (DATA_COMPRESSION = PAGE);
	ALTER TABLE [dbo].T_分析SortTmp REBUILD WITH (DATA_COMPRESSION = PAGE);

END


GO
