USE DemoA_FX
GO

DROP PROCEDURE [oder].[spInsertOrderHistory2]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [oder].[spInsertOrderHistory2]
	@通貨ペアNo			tinyint,
	@日時				datetime,
	@買いSwap			float,
	@売りSwap			float,
	@Swap判定			bit,
	@買いRate			float,
	@売りRate			float,
	@売買判定			varchar(1),
	@売買				bit,
	@保持ポジション		bit,
	@BS_Min15_買いWMAs14			float,
	@BS_Min15_買いWMAs14角度		float,
	@BS_Min15_買いWMAs14角度シグマ	float,
	@BS_Min15_売りWMAs14			float,
	@BS_Min15_売りWMAs14角度		float,
	@BS_Min15_売りWMAs14角度シグマ	float,
	@BS_WMA判定_15m			varchar(1),
	@BS判定_15m				varchar(1),
	@BS開始					bit,
	@BS判定_前				varchar(1),
	@BS判定_今				varchar(1),
	@リミット				float,
	@注文単位				int,
	@Month1_Start			datetime,
	@Month1_End				datetime,
	@Month1_買いWMAs2		float,
	@Month1_買いWMAs2角度	float,
	@Month1_買いWMAs14		float,
	@Month1_売りWMAs2		float,
	@Month1_売りWMAs2角度	float,
	@Month1_売りWMAs14		float,
	@Week1_Start			datetime,
	@Week1_End				datetime,
	@Week1_買いWMAs2		float,
	@Week1_買いWMAs2角度	float,
	@Week1_買いWMAs14		float,
	@Week1_売りWMAs2		float,
	@Week1_売りWMAs2角度	float,
	@Week1_売りWMAs14		float,
	@Day1_Start				datetime,
	@Day1_End				datetime,
	@Day1_買いWMAs2			float,
	@Day1_買いWMAs2角度		float,
	@Day1_買いWMAs14		float,
	@Day1_売りWMAs2			float,
	@Day1_売りWMAs2角度		float,
	@Day1_売りWMAs14		float,
	@Hour1_Start			datetime,
	@Hour1_End				datetime,
	@Hour1_買いWMAs2		float,
	@Hour1_買いWMAs2角度	float,
	@Hour1_買いWMAs14		float,
	@Hour1_売りWMAs2		float,
	@Hour1_売りWMAs2角度	float,
	@Hour1_売りWMAs14		float,
	@Min15_Start			datetime,
	@Min15_End				datetime,
	@Min15_買いWMAs2		float,
	@Min15_買いWMAs2角度	float,
	@Min15_買いWMAs14		float,
	@Min15_売りWMAs2		float,
	@Min15_売りWMAs2角度	float,
	@Min15_売りWMAs14		float,
	@Min5_Start				datetime,
	@Min5_End				datetime,
	@Min5_買いWMAs2			float,
	@Min5_買いWMAs2角度		float,
	@Min5_買いWMAs14		float,
	@Min5_売りWMAs2			float,
	@Min5_売りWMAs2角度		float,
	@Min5_売りWMAs14		float,
	@Min1_Start				datetime,
	@Min1_End				datetime,
	@Min1_買いWMAs2			float,
	@Min1_買いWMAs2角度		float,
	@Min1_買いWMAs14		float,
	@Min1_売りWMAs2			float,
	@Min1_売りWMAs2角度		float,
	@Min1_売りWMAs14		float,
	@OpenOrderID			varchar(50)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [oder].[tOrderHistory2] (
		通貨ペアNo,
		日時,
		買いSwap,
		売りSwap,
		Swap判定,
		買いRate,
		売りRate,
		売買判定,
		売買,
		保持ポジション,
		BS_Min15_買いWMAs14,
		BS_Min15_買いWMAs14角度,
		BS_Min15_買いWMAs14角度シグマ,
		BS_Min15_売りWMAs14,
		BS_Min15_売りWMAs14角度,
		BS_Min15_売りWMAs14角度シグマ,
		BS_WMA判定_15m,
		BS判定_15m,
		BS開始,
		BS判定_前,
		BS判定_今,
		リミット,
		注文単位,
		Month1_Start,
		Month1_End,
		Month1_買いWMAs2,
		Month1_買いWMAs2角度,
		Month1_買いWMAs14,
		Month1_売りWMAs2,
		Month1_売りWMAs2角度,
		Month1_売りWMAs14,
		Week1_Start,
		Week1_End,
		Week1_買いWMAs2,
		Week1_買いWMAs2角度,
		Week1_買いWMAs14,
		Week1_売りWMAs2,
		Week1_売りWMAs2角度,
		Week1_売りWMAs14,
		Day1_Start,
		Day1_End,
		Day1_買いWMAs2,
		Day1_買いWMAs14,
		Day1_買いWMAs2角度,
		Day1_売りWMAs2,
		Day1_売りWMAs14,
		Day1_売りWMAs2角度,
		Hour1_Start,
		Hour1_End,
		Hour1_買いWMAs2,
		Hour1_買いWMAs2角度,
		Hour1_買いWMAs14,
		Hour1_売りWMAs2,
		Hour1_売りWMAs2角度,
		Hour1_売りWMAs14,
		Min15_Start,
		Min15_End,
		Min15_買いWMAs2,
		Min15_買いWMAs2角度,
		Min15_買いWMAs14,
		Min15_売りWMAs2,
		Min15_売りWMAs2角度,
		Min15_売りWMAs14,
		Min5_Start,
		Min5_End,
		Min5_買いWMAs2,
		Min5_買いWMAs2角度,
		Min5_買いWMAs14,
		Min5_売りWMAs2,
		Min5_売りWMAs2角度,
		Min5_売りWMAs14,
		Min1_Start,
		Min1_End,
		Min1_買いWMAs2,
		Min1_買いWMAs2角度,
		Min1_買いWMAs14,
		Min1_売りWMAs2,
		Min1_売りWMAs2角度,
		Min1_売りWMAs14,
		OpenOrderID
	) VALUES (
		@通貨ペアNo,
		@日時,
		@買いSwap,
		@売りSwap,
		@Swap判定,
		@買いRate,
		@売りRate,
		@売買判定,
		@売買,
		@保持ポジション,
		@BS_Min15_買いWMAs14,
		@BS_Min15_買いWMAs14角度,
		@BS_Min15_買いWMAs14角度シグマ,
		@BS_Min15_売りWMAs14,
		@BS_Min15_売りWMAs14角度,
		@BS_Min15_売りWMAs14角度シグマ,
		@BS_WMA判定_15m,
		@BS判定_15m,
		@BS開始,
		@BS判定_前,
		@BS判定_今,
		@リミット,
		@注文単位,
		@Month1_Start,
		@Month1_End,
		@Month1_買いWMAs2,
		@Month1_買いWMAs2角度,
		@Month1_買いWMAs14,
		@Month1_売りWMAs2,
		@Month1_売りWMAs2角度,
		@Month1_売りWMAs14,
		@Week1_Start,
		@Week1_End,
		@Week1_買いWMAs2,
		@Week1_買いWMAs2角度,
		@Week1_買いWMAs14,
		@Week1_売りWMAs2,
		@Week1_売りWMAs2角度,
		@Week1_売りWMAs14,
		@Day1_Start,
		@Day1_End,
		@Day1_買いWMAs2,
		@Day1_買いWMAs14,
		@Day1_買いWMAs2角度,
		@Day1_売りWMAs2,
		@Day1_売りWMAs14,
		@Day1_売りWMAs2角度,
		@Hour1_Start,
		@Hour1_End,
		@Hour1_買いWMAs2,
		@Hour1_買いWMAs2角度,
		@Hour1_買いWMAs14,
		@Hour1_売りWMAs2,
		@Hour1_売りWMAs2角度,
		@Hour1_売りWMAs14,
		@Min15_Start,
		@Min15_End,
		@Min15_買いWMAs2,
		@Min15_買いWMAs2角度,
		@Min15_買いWMAs14,
		@Min15_売りWMAs2,
		@Min15_売りWMAs2角度,
		@Min15_売りWMAs14,
		@Min5_Start,
		@Min5_End,
		@Min5_買いWMAs2,
		@Min5_買いWMAs2角度,
		@Min5_買いWMAs14,
		@Min5_売りWMAs2,
		@Min5_売りWMAs2角度,
		@Min5_売りWMAs14,
		@Min1_Start,
		@Min1_End,
		@Min1_買いWMAs2,
		@Min1_買いWMAs2角度,
		@Min1_買いWMAs14,
		@Min1_売りWMAs2,
		@Min1_売りWMAs2角度,
		@Min1_売りWMAs14,
		@OpenOrderID
	);


END
GO
