USE DemoA_FX
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [temp].[tSortCloseTradeTmp](
	[Time] [datetime] NOT NULL,
	[sTradeID] [varchar](50) NOT NULL,
	[差益] [float] NOT NULL,
	[iAmount] [int] NOT NULL,
	[dRate] [float] NOT NULL,
	[sQuoteID] [varchar](100) NOT NULL
CONSTRAINT [PK_tSortCloseTradeTmp] PRIMARY KEY CLUSTERED 
(
	[Time] ASC,
	[sTradeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
