USE OANDA_DemoB
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [pfmc].[tポジションMin3](
	[口座No]		int			NOT NULL,
	[StartDate]		[datetime]	NOT NULL,
	[Order数]		[int]		NULL,
	[Trade数]		[int]		NULL,
	[当日注文数]	[int]		NULL,
CONSTRAINT [PK_tポジションMin3] PRIMARY KEY CLUSTERED 
(
	[口座No] ASC,
	[StartDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO
