USE OANDA_DemoB
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [temp].[tSortTmp](
	[口座No]			int				NOT NULL,
	[通貨ペア] [varchar](10) NOT NULL,
	[値] [float] NOT NULL,
CONSTRAINT [PK_tSortTmp] PRIMARY KEY CLUSTERED 
(
	[口座No]	ASC,
	[通貨ペア] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
