default=enu
[enu]
codepage=1252
name=Elliot Wave Oscillator
description=Measures the rate of price change in one wave against the rate of change in another wave.
param_FN_name=Fast Moving Average
param_FN_description=The number of periods for Fast Moving Average.
param_SN_name=Slow Moving Average
param_SN_description=The number of periods for Slow Moving Average.
param_Source_name=Price source
param_Source_description=The price source.
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Close
param_Smooth_name=Smoothing method
param_Smooth_description=The methods marked by an asterisk (*) require the appropriate indicators to be loaded.
param_clrUpGrow_name=Up growing color
param_clrUpGrowp_description=The color of up growing EWO.
param_clrUpFall_name=Up falling color
param_clrUpFall_description=The color of up falling EWO.
param_clrDnGrow_name=Down growing color
param_clrDnGrow_description=The color of down growing EWO.
param_clrDnFall_name=Down falling color
param_clrDnFall_description=The color of down falling EWO.

[ara]
codepage=1256
name=موجات أليوت المذبذب
description=يقيس معدل التغير في الأسعار في موجة واحدة مقابل معدل التغير في موجة أخرى.
param_FN_name=المتوسط المتحرك السريع
param_FN_description=عدد الفترات للمتوسط المتحرك السريع
param_SN_name=المتوسط المتحرك البطيء
param_SN_description=عدد الفترات للمتوسط المتحرك البطيء
param_Source_name=مصدر السعر
param_Source_description=مصدر السعر
param_Source_valueM3=الوسيط (الأعلى + الأدنى + الإغلاق) / 3
param_Source_valueM2=الوسيط (الأعلى + الأدنى) / 2
param_Source_valueC=الإغلاق
param_Smooth_name=أسلوب التجانس
param_Smooth_description=أساليب المعلمة بالنجمة (*) تتطلب المؤشرات المناسبة لتحميلها.
param_clrUpGrow_name=اللون الصاعد
param_clrUpGrowp_description=اللون الصاعد لـ EWO
param_clrUpFall_name=اللون الهابط
param_clrUpFall_description=اللون الهابط لـ EWO
param_clrDnGrow_name=الانخفاض المتزايد للون
param_clrDnGrow_description=لون الانخفاض المتزايد لـ EWO
param_clrDnFall_name=الانخفاض الهابط للون
param_clrDnFall_description=لون الانخفاض الهابط لـ EWO

[chs]
codepage=936
name=艾略特波浪摆荡指标
description=量度浪与浪的价格变化率
param_FN_name=快移动平均线
param_FN_description=快移动平均线时期
param_SN_name=慢移动平均线
param_SN_description=慢移动平均线时期
param_Source_name=价格来源
param_Source_description=价格来源
param_Source_valueM3=中位数 (H+L+C)/3
param_Source_valueM2=中位数 (H+L)/2
param_Source_valueC=收市价
param_Smooth_name=平滑法
param_Smooth_description=被标记了星号(*)的方法需要先载入适当的指标
param_clrUpGrow_name=向上增加颜色
param_clrUpGrowp_description=EWO向上增加颜色
param_clrUpFall_name=向上下降颜色
param_clrUpFall_description=EWO向上下降颜色
param_clrDnGrow_name=向下增加颜色
param_clrDnGrow_description=EWO向下增加颜色
param_clrDnFall_name=向下下降颜色
param_clrDnFall_description=EWO向下下降颜色

[cht]
codepage=950
name=艾略特波浪擺盪指標
description=量度浪與浪的價格變化率
param_FN_name=快移動平均線
param_FN_description=快移動平均線時期
param_SN_name=慢移動平均線
param_SN_description=慢移動平均線時期
param_Source_name=價格來源
param_Source_description=價格來源
param_Source_valueM3=中位數 (H+L+C)/3
param_Source_valueM2=中位數 (H+L)/2
param_Source_valueC=收市價
param_Smooth_name=平滑法
param_Smooth_description=被標記了星號(*)的方法需要先載入適當的指標
param_clrUpGrow_name=向上增加顏色
param_clrUpGrowp_description=EWO向上增加顏色
param_clrUpFall_name=向上下降顏色
param_clrUpFall_description=EWO向上下降顏色
param_clrDnGrow_name=向下增加顏色
param_clrDnGrow_description=EWO向下增加顏色
param_clrDnFall_name=向下下降顏色
param_clrDnFall_description=EWO向下下降顏色

[ctt]
codepage=950
name=艾略特波浪擺盪指標
description=
param_FN_name=
param_FN_description=
param_SN_name=
param_SN_description=
param_Source_name=
param_Source_description=
param_Source_valueM3=
param_Source_valueM2=
param_Source_valueC=
param_Smooth_name=
param_Smooth_description=
param_clrUpGrow_name=
param_clrUpGrowp_description=
param_clrUpFall_name=
param_clrUpFall_description=
param_clrDnGrow_name=
param_clrDnGrow_description=
param_clrDnFall_name=
param_clrDnFall_description=

[deu]
codepage=1252
name=Elliot Wave Oszillator
description=Beihilfe bei der Messung der in einer Welle sich befindlichen Preisänderungsrate gegen deren einer anderen Welle
param_FN_name=Gleitender Durchschnitt (schnell)
param_FN_description=Zahl der Perioden von gleitenden Durschnitten
param_SN_name=Gleitender Durchschnitt (langsam)
param_SN_description=Zahl der Perioden von gleitenden Durschnitten
param_Source_name=Preisquelle
param_Source_description=Preisquelle
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Schluss
param_Smooth_name=Glättungsmethode
param_Smooth_description=Die mit dem Asterisk gekennzeichneten Methoden benötigen das Laden der angemessenen Indikatoren.
param_clrUpGrow_name=Obige Growing-Farbe
param_clrUpGrowp_description=Farbe des sich erweiternden EWOs
param_clrUpFall_name=Obige Rueckgangsfarbe
param_clrUpFall_description=Farbe des obigen sich vermindernden EWOs
param_clrDnGrow_name=Untere Growing-Farbe
param_clrDnGrow_description=Farbe des unteren sich erweiternden EWOs
param_clrDnFall_name=Untere Rueckgangsfarbe
param_clrDnFall_description=Farbe des unteren sich vermindernden EWOs

[esp]
codepage=1252
name=Oscilador de ondas Elliot
description=Mide la tasa de variación de precios en una ola en contra de la tasa de cambio en otra onda.
param_FN_name=Promedio Móvil Rápido
param_FN_description=El numero de periodos para el Promedio Móvil Rápido
param_SN_name=Promedio Móvil Lento
param_SN_description=El numero de periodos para el Promedio Móvil Lento
param_Source_name=Fuente de precio
param_Source_description=La fuente de precio
param_Source_valueM3=Media (H+L+C)/3
param_Source_valueM2=Media (H+L)/2
param_Source_valueC=Cerrar
param_Smooth_name=Método suavizado
param_Smooth_description=El método marcado con asterisco (*) requiere que el indicador apropiado sea cargado.
param_clrUpGrow_name=Color del aumento superior
param_clrUpGrowp_description=El color del aumento superior EWO.
param_clrUpFall_name=Color del descenso superior
param_clrUpFall_description=El color del descenso superior EWO.
param_clrDnGrow_name=Color del aumento inferior
param_clrDnGrow_description=El color del aumento inferior EWO.
param_clrDnFall_name=Color del descenso inferior
param_clrDnFall_description=El color del descenso inferior EWO.

[fra]
codepage=1252
name=Oscillateur de vague d'Elliott
description=Mesure le taux de changement de prix en une vague par rapport au taux de changement dans une autre vague
param_FN_name=Moyenne Mobile Rapide
param_FN_description=Le nombre de périodes pour la Moyenne Mobile Rapide
param_SN_name=Moyenne Mobile Lente
param_SN_description=Le nombre de périodes pour la Moyenne Mobile Lente
param_Source_name=Source des prix
param_Source_description=La source du prix
param_Source_valueM3=Médiane (H+L+C)/3
param_Source_valueM2=Médiane (H+L)/2
param_Source_valueC=Fermer
param_Smooth_name=Méthode de lissage
param_Smooth_description=La méthode marquée par une astérisque(*) nécessite que les indicateurs appropriés soient chargés
param_clrUpGrow_name=Couleur d'accroissement pour les barres du haut
param_clrUpGrowp_description=La couleur des barres d'accroissement du haut de l'EWO
param_clrUpFall_name=Couleur de décroissance pour les barres du haut
param_clrUpFall_description=La couleur des barres de décroissance du haut de l'EWO
param_clrDnGrow_name=Couleur d'accroissement pour les barres du bas
param_clrDnGrow_description=La couleur des barres d'accroissement du bas de l'EWO
param_clrDnFall_name=Couleur de décroissance pour les barres du bas
param_clrDnFall_description=La couleur de décroissance pour les barres du bas de l'EWO

[jpn]
codepage=932
name=エリオット・ウェーブ・オシレーター（相対性指数）
description=エリオット・ウェーブ・オシレーター（相対性指数）
param_FN_name=高速移動平均線
param_FN_description=高速移動平均線の期間の数。
param_SN_name=低速移動平均線
param_SN_description=低速移動平均線の期間の数。
param_Source_name=価格の源
param_Source_description=価格の源。
param_Source_valueM3=中間値 (H+L+C)/3
param_Source_valueM2=中間値 (H+L)/2
param_Source_valueC=クローズ
param_Smooth_name=平滑化の方法
param_Smooth_description=アスタリスク(*)にてマークされたメソッドは適切なインディケーターが読み込まれている必要があります。
param_clrUpGrow_name=上昇グローの色
param_clrUpGrowp_description=上昇グロー（EWO）の色
param_clrUpFall_name=上昇フォールの色
param_clrUpFall_description=上昇フォール（EWO）の色
param_clrDnGrow_name=下降グローの色
param_clrDnGrow_description=下降グロー（EWO）の色
param_clrDnFall_name=下降フォールの色
param_clrDnFall_description=下降フォール（EWO）の色

[kor]
codepage=949
name=EWO (Elliot Wave Oscillator)
description=
param_FN_name=
param_FN_description=
param_SN_name=
param_SN_description=
param_Source_name=
param_Source_description=
param_Source_valueM3=
param_Source_valueM2=
param_Source_valueC=
param_Smooth_name=
param_Smooth_description=
param_clrUpGrow_name=
param_clrUpGrowp_description=
param_clrUpFall_name=
param_clrUpFall_description=
param_clrDnGrow_name=
param_clrDnGrow_description=
param_clrDnFall_name=
param_clrDnFall_description=

[rus]
codepage=1251
name=Осциллятор волны Эллиота
description=Измеряет уровень изменения цен в одной волне относительно уровня изменения цен в другой волне.
param_FN_name=Быстрое скользящее среднее
param_FN_description=Количество периодов для быстрого скользящего среднего.
param_SN_name=Медленное скользящее среднее
param_SN_description=Количество периодов для медленного скользящего среднего.
param_Source_name=Цена для расчета
param_Source_description=Цена для расчета.
param_Source_valueM3=Средняя (Мин+Макс+Закрытия)/3
param_Source_valueM2=Средняя (Мин+Макс)/2
param_Source_valueC=Закрытия
param_Smooth_name=Метод сглаживания
param_Smooth_description=Методы, отмеченные звездочкой (*), требуют загрузки соответствующих индикаторов.
param_clrUpGrow_name=Цвет возрастающего EWO
param_clrUpGrowp_description=Цвет возрастающего EWO.
param_clrUpFall_name=Цвет возрастающего EWO при убывании
param_clrUpFall_description=Цвет возрастающего EWO при убывании.
param_clrDnGrow_name=Цвет убывающего EWO
param_clrDnGrow_description=Цвет убывающего EWO.
param_clrDnFall_name=Цвет убывающего EWO при возрастании
param_clrDnFall_description=Цвет убывающего EWO при возрастании.

[tur]
codepage=1254
name=Elliot Dalgaları Osilatörü
description=Bir dalgadaki fiyat değişiminin, diğer bir dalgadaki fiyat değişimine oranını ölçer.
param_FN_name=Hızlı Hareketli Ortalama
param_FN_description=Hızlı Hareketli Ortalama periyotunun sayısı
param_SN_name=Yavaş Hareketli Ortalama
param_SN_description=Yavaş Hareketli Ortalama periyotunun sayısı
param_Source_name=Fiyat kaynağı
param_Source_description=Fiyat kaynağı
param_Source_valueM3=Medyan (EY+ED+K)/3
param_Source_valueM2=Medyan (EY+ED)/2
param_Source_valueC=Kapanış
param_Smooth_name=Düzeltme yöntemi
param_Smooth_description=Yıldız işareti (*) olan yöntemlerde uygun göstergenin eklenmiş olması gerekmektedir.
param_clrUpGrow_name=Üst Yükseliş rengi
param_clrUpGrowp_description=EWO göstergesinin üst yükseliş rengi
param_clrUpFall_name=Üst Düşüş rengi
param_clrUpFall_description=EWO göstergesinin üst düşüş rengi
param_clrDnGrow_name=Alt Yükseliş rengi
param_clrDnGrow_description=EWO göstergesinin alt yükseliş rengi
param_clrDnFall_name=Alt Düşüş rengi
param_clrDnFall_description=EWO göstergesinin alt düşüş rengi

[ita]
codepage=1252
name=Elliot Wave Oscillator
description=Misura il tasso di cambiamento del prezzo in un'onda rispetto il tasso di cambiamento in un'altra onda.
param_FN_name=Fast Moving Average
param_FN_description=Il numero di periodi per una Fast Moving Average
param_SN_name=Slow Moving Average
param_SN_description=Il numero di periodi per una Slow Moving Average
param_Source_name=Fonte del prezzo
param_Source_description=La fonte del prezzo
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Chiusura
param_Smooth_name=Smoothing method
param_Smooth_description=I metodi segnati con un asterisco richiedono che l'indicatore appropriato sia caricato
param_clrUpGrow_name=Colored di Up growing
param_clrUpGrowp_description=Il colore di up growing EWO.
param_clrUpFall_name=Colore di Up falling
param_clrUpFall_description=Il colore di up falling EWO.
param_clrDnGrow_name=Colore di Down growing
param_clrDnGrow_description=Il colore di down growing EWO.
param_clrDnFall_name=Colore di Down falling
param_clrDnFall_description=Il colore di down falling EWO.

[heb]
codepage=1255
name=מתנד גלי אליוט
description=מחשב את היחס בין קצב שינויי המחיר בגל אחד לעומת קצב השינויי בגל אחר
param_FN_name=ממוצע נע מהיר
param_FN_description=מספר התקופות עבור הממוצע הנע המהיר
param_SN_name=ממוצע נע איטי
param_SN_description=מספר התקופות עבור הממוצע הנע האיטי
param_Source_name=מקור מחיר
param_Source_description=מקור המחיר
param_Source_valueM3=חציוני (H+L+C)/3
param_Source_valueM2=חציוני (H+L)/2
param_Source_valueC=סגירה
param_Smooth_name=שיטת החלקה
param_Smooth_description=השיטות המסומנות בכוכביות מחייבות הטענת אינדיקטורים מתאימים.
param_clrUpGrow_name=צבע צמיחה עולה
param_clrUpGrowp_description=הצבע של ה- EWO הצומח מעלה
param_clrUpFall_name=צבע צניחה מעלה
param_clrUpFall_description=הצבע של ה- EWO הצונח מעלה
param_clrDnGrow_name=צבע צניחה מטה
param_clrDnGrow_description=הצבע של ה- EWO הצומח מטה
param_clrDnFall_name=צבע הצניחה מטה
param_clrDnFall_description=הצבע של ה- EWO הצונח מטה

[pol]
codepage=1250
name=Elliott Wave Oscillator
description=Mierzy tempo zmian cen w jednej fali w stosunku do innej fali.
param_FN_name=Szybka średnia krocząca
param_FN_description=Liczba okresów szybkiej średniej kroczącej.
param_SN_name=Wolna średnia krocząca
param_SN_description=Liczba okresów wolnej średniej kroczącej.
param_Source_name=Cena źródłowa
param_Source_description=Cena źródłowa.
param_Source_valueM3=Środkowa (H+L+C)/3
param_Source_valueM2=Środkowa (H+L)/2
param_Source_valueC=Zamknięcie
param_Smooth_name=Metoda wygładzania
param_Smooth_description=Metody zaznaczone odsyłaczem (*) wymagają załadowania odpowiedniego wskaźnika.
param_clrUpGrow_name=Kolor wzrostu w strefie dodatniej
param_clrUpGrowp_description=Kolor wzrostu EWO w strefie dodatniej.
param_clrUpFall_name=Kolor spadku w strefie dodatniej
param_clrUpFall_description=Kolor spadku EWO w strefie dodatniej.
param_clrDnGrow_name=Kolor wzrostu w strefie ujemnej
param_clrDnGrow_description=Kolor wzrostu EWO w strefie ujemnej.
param_clrDnFall_name=Kolor spadku w strefie ujemnej
param_clrDnFall_description=Kolor spadku EWO w strefie ujemnej.

[cze]
codepage=1250
name=Oscilátor Elliotovy vlny
description=Měří změnu ceny v jedné vlně oproti jiné vlně
param_FN_name=Rychlý klouzavý průměr
param_FN_description=Počet period pro výpočet rychlého klouzavého průměru
param_SN_name=Pomalý klouzavý průměr
param_SN_description=Počet period pro výpočet pomalého klouzavého průměru
param_Source_name=Zdroj ceny
param_Source_description=Zdroj ceny
param_Source_valueM3=Medián (H+L+C)/3
param_Source_valueM2=Medián (H+L)/2
param_Source_valueC=Závěr
param_Smooth_name=Metoda vyhlazení
param_Smooth_description=Metody označené hvězdičkou (*) vyžadují načtení příslušných indikátorů
param_clrUpGrow_name=Barva horního rostoucího EWO
param_clrUpGrowp_description=Barva horního rostoucího EWO
param_clrUpFall_name=Barva horního klesajícího EWO
param_clrUpFall_description=Barva horního klesajícího EWO
param_clrDnGrow_name=Barva spodního rostoucího EWO
param_clrDnGrow_description=Barva spodního rostoucího EWO
param_clrDnFall_name=Barva spodního klesajícího EWO
param_clrDnFall_description=Barva spodního klesajícího EWO

[por]
codepage=1252
name=Oscilador de ondas Elliot
description=Mede a taxa de variação de preço em uma onda contra a taxa de variação em outra onda.
param_FN_name=Média-Móvel Rápida
param_FN_description=O número de períodos para Média-Móvel Rápida.
param_SN_name=Média-Móvel Lenta
param_SN_description=O número de períodos para Média-Móvel Lenta.
param_Source_name=Fonte de preço
param_Source_description=A fonte de preço.
param_Source_valueM3=Mediana (H+L+C)/4
param_Source_valueM2=Mediana (H+L)/3
param_Source_valueC=Fechar
param_Smooth_name=Método de nivelação
param_Smooth_description=Os métodos marcados por um asterisco (*) requerem os indicadores apropriados a serem carregados.
param_clrUpGrow_name=Cor do Up crescente
param_clrUpGrowp_description=A cor do EWO up crescente.
param_clrUpFall_name=Cor do Up descrescente
param_clrUpFall_description=A cor do EWO up decrescente
param_clrDnGrow_name=Cor do Down crescente
param_clrDnGrow_description=A cor do EWO down crescente
param_clrDnFall_name=Cor do Down decrescente
param_clrDnFall_description=A cor do EWO down decrescente.

[gre]
codepage=1253
name=Ταλαντωτής Elliot Wave
description=Υπολογίζει τον ποσοστό αλλαγής της τιμής σε ένα κύμα έναντι του ποσοστού αλλαγής σε ένα άλλο κύμα.
param_FN_name=Γρήγορος κινητός μέσος όρος
param_FN_description=Ο αριθμός των περιόδων του γρήγορου κινητού μέσου όρου
param_SN_name=Αργός κινητός μέσος όρος
param_SN_description=Ο αριθμός των περιόδων του αργού κινητού μέσου όρου
param_Source_name=Πηγή τιμής
param_Source_description=Η πιγή της τιμής
param_Source_valueM3=Μέσο (Υ+Χ+Κ)/3
param_Source_valueM2=Μέσο (Υ+Χ)/2
param_Source_valueC=Κλείσιμο
param_Smooth_name=Μέθοδος εξομάλυνσης
param_Smooth_description=Οι μέθοδοι που είναι επισημασμένοι με αστερίσκο (*) απαιτούν τους κατάλληλους δείκτες για να φορτωθούν.
param_clrUpGrow_name=Χρώμα Up growing
param_clrUpGrowp_description=Το χρώμα του up growing EWO.
param_clrUpFall_name=Χρώμα Up falling
param_clrUpFall_description=Το χρώμα του up falling EWO.
param_clrDnGrow_name=Χρώμα Down growing
param_clrDnGrow_description=Το χρώμα του down growing EWO.
param_clrDnFall_name=Χρώμα Down falling
param_clrDnFall_description=Το χρώμα του down falling EWO.

