default=enu
[enu]
codepage=1252
name=Relative Strength Index
description=Shows price strength by comparing upward and downward close-to-close movements.
param_N_name=Number of periods
param_N_description=The number of periods.
param_clrRSI_name=Line color
param_clrRSI_description=The color of the Relative Strength Index line.
param_widthRSI_name=Line width
param_widthRSI_description=The width of the Relative Strength Index line.
param_styleRSI_name=Line style
param_styleRSI_description=The style of the Relative Strength Index line.
param_level_overboughtsold_width_name=Level lines width
param_level_overboughtsold_width_description=The width of the overbought/oversold levels.
param_level_overboughtsold_style_name=Level lines style
param_level_overboughtsold_style_description=The style of the overbought/oversold levels.
param_level_overboughtsold_color_name=Level lines color
param_level_overboughtsold_color_description=The color of the overbought/oversold levels.
param_level_overbought_name=Overbought level
param_level_overbought_description=The overbought level.
param_level_oversold_name=Oversold level
param_level_oversold_description=The oversold level.
error_bought_bigger_sold=The overbought level must be greater than the oversold level.

[ara]
codepage=1256
name=مؤشر القوة النسبي
description=يقارن قوة السعر مع الارتفاعات و الانخفضات في أسعار بين الاغلاق و الاخر
param_N_name=عدد الفترات
param_N_description=عدد الفترات
param_clrRSI_name=لون الخط
param_clrRSI_description=لون خط مؤشر القوة النسبية
param_widthRSI_name=عرض الخط
param_widthRSI_description=عرض الخط لمؤشر القوة النسبي.
param_styleRSI_name=نوع الخط
param_styleRSI_description=نوع الخط لمؤشر القوة النسبي.
param_level_overboughtsold_width_name=عرض خطوط المستوى
param_level_overboughtsold_width_description=عرض مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_style_name=نوع خطوط المستوى
param_level_overboughtsold_style_description=نوع مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_color_name=لون خطوط المستوى
param_level_overboughtsold_color_description=لون مستويات زيادة الشراء/زيادة البيع.
param_level_overbought_name=مستوى زيادة الشراء
param_level_overbought_description=مستوى زيادة الشراء.
param_level_oversold_name=مستوى زيادة البيع
param_level_oversold_description=مستوى زيادة البيع.
error_bought_bigger_sold=الثابت الخاص بزيادة الشراء يجب أن يكون أكبر من الثابت الخاص يزيادة البيع

[chs]
codepage=936
name=相对强弱指标
description=通过对比价格上涨以及下跌之间的关系来判断价格的相对强度
param_N_name=时期数目
param_N_description=时期数目
param_clrRSI_name=线颜色
param_clrRSI_description=相对强弱指标线颜色
param_widthRSI_name=线宽
param_widthRSI_description=相对强弱指标线的宽度
param_styleRSI_name=线样式
param_styleRSI_description=相对强弱指标线样式
param_level_overboughtsold_width_name=水平线宽度
param_level_overboughtsold_width_description=超买/超卖水平的线宽
param_level_overboughtsold_style_name=水平线样式
param_level_overboughtsold_style_description=超买/超卖水平的线样式
param_level_overboughtsold_color_name=水平线颜色
param_level_overboughtsold_color_description=超买/超卖水平的线颜色
param_level_overbought_name=超买水平
param_level_overbought_description=超买水平
param_level_oversold_name=超卖水平
param_level_oversold_description=超卖水平
error_bought_bigger_sold=超买水平的参数必须大于超卖水平

[cht]
codepage=950
name=相對強弱指標
description=通過對比價格上漲以及下跌之間的關係來判斷價格的相對強度
param_N_name=時期數目
param_N_description=時期數目
param_clrRSI_name=線顏色
param_clrRSI_description=相對強弱指標線顏色
param_widthRSI_name=線寬
param_widthRSI_description=相對強弱指標線的寬度
param_styleRSI_name=線樣式
param_styleRSI_description=相對強弱指標線樣式
param_level_overboughtsold_width_name=水平線寬度
param_level_overboughtsold_width_description=超買/超賣水平的線寬
param_level_overboughtsold_style_name=水平線樣式
param_level_overboughtsold_style_description=超買/超賣水平的線樣式
param_level_overboughtsold_color_name=水平線顏色
param_level_overboughtsold_color_description=超買/超賣水平的線顏色
param_level_overbought_name=超買水平
param_level_overbought_description=超買水平
param_level_oversold_name=超賣水平
param_level_oversold_description=超賣水平
error_bought_bigger_sold=超買水平的參數必須大於超賣水平

[ctt]
codepage=950
name=相對強弱指標
description=通過對比價格上漲以及下跌之間的關係來判斷價格的相對強度
param_N_name=時期數目
param_N_description=時期數目
param_clrRSI_name=線顏色
param_clrRSI_description=相對強弱指標線顏色
param_widthRSI_name=
param_widthRSI_description=
param_styleRSI_name=
param_styleRSI_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[deu]
codepage=1252
name=Relative Stärke Index
description=Zeigt Kursstärke an, indem Close-to-Close Preisbewegungen vergleicht werden
param_N_name=Anzahl der Perioden
param_N_description=Anzahl der Perioden
param_clrRSI_name=Linienfarbe
param_clrRSI_description=Farbe der Relative-Strenght_Index Linie
param_widthRSI_name=Linienbreite
param_widthRSI_description=Die Breite der Relativen Stärke Index Linie
param_styleRSI_name=Linienstil
param_styleRSI_description=Der Stil der Relativen Stärke Index Linie
param_level_overboughtsold_width_name=Level der Linienbreite
param_level_overboughtsold_width_description=Die Breite des überkauften und überverkauften Bereichs
param_level_overboughtsold_style_name=Level des Linienstils
param_level_overboughtsold_style_description=Der Stil des überkauften und überverkauften Bereichs
param_level_overboughtsold_color_name=Level der Linienfarbe
param_level_overboughtsold_color_description=Die Farbe des überkauften und überverkauften Bereichs
param_level_overbought_name=Überkauftes Level
param_level_overbought_description=Das überkaufte Level
param_level_oversold_name=Überverkauftes Level
param_level_oversold_description=Das überverkaufte Level
error_bought_bigger_sold=Der überkaufte Parameter muss größer als überverkauft sein

[esp]
codepage=1252
name=Índice de Fuerza Relativa
description=Muestra la fuerza del precio al comparar movimientos de alza y baja.
param_N_name=Número de periodos
param_N_description=El número de periodos
param_clrRSI_name=Color de la línea
param_clrRSI_description=El color de la línea del índice del fuerza relativa
param_widthRSI_name=Amplitud de la línea
param_widthRSI_description=La amplitud de la línea del índice de fuerza relativa.
param_styleRSI_name=Estilo de la línea
param_styleRSI_description=El estilo de la línea del índice de fuerza relativa.
param_level_overboughtsold_width_name=Amplitud del nivel de las líneas
param_level_overboughtsold_width_description=La amplitud de los niveles de sobrecompra/sobreventa.
param_level_overboughtsold_style_name=Estilo del nivel de las líneas
param_level_overboughtsold_style_description=El estilo de los niveles de sobrevender/sobrecompra.
param_level_overboughtsold_color_name=Color de los niveles de las líneas
param_level_overboughtsold_color_description=El color de los niveles de sobrecompra/sobreventa.
param_level_overbought_name=Nivel de sobrecompra
param_level_overbought_description=El nivel de sobrecompra.
param_level_oversold_name=Nivel de sobreventa
param_level_oversold_description=El nivel de sobreventa.
error_bought_bigger_sold=El parámetro de sobrecompra debe de ser mayor que el parámetro de sobreventa.

[fra]
codepage=1252
name=Indice de la force relative
description=Montre la force du prix en le comparant aux mouvement vers son plus haut et son plus bas d'une clôture à l'autre.
param_N_name=Nombre de périodes
param_N_description=Le nombre de périodes
param_clrRSI_name=Couleur de la ligne
param_clrRSI_description=La couleur de la ligne de l'indice de la force relative.
param_widthRSI_name=Largeur de la ligne
param_widthRSI_description=La largeur de la ligne de l'Indice de force relative
param_styleRSI_name=Style de la ligne
param_styleRSI_description=Le style de la ligne de l'Indice de force relative
param_level_overboughtsold_width_name=Largeur des lignes de niveau
param_level_overboughtsold_width_description=La largeur des niveaux de surachat/survente
param_level_overboughtsold_style_name=Style des lignes de niveaux
param_level_overboughtsold_style_description=Le style des niveaux de surachat/survente
param_level_overboughtsold_color_name=Couleur des lignes de niveau
param_level_overboughtsold_color_description=La couleur des niveaux de surachat/survente
param_level_overbought_name=Niveau de surachat
param_level_overbought_description=Le niveau de surachat
param_level_oversold_name=Niveau de survente
param_level_oversold_description=Le niveau de survente
error_bought_bigger_sold=Le paramètre de surachat doit être supérieur à celui de survente

[jpn]
codepage=932
name=RSI
description=上昇/下降クローズ時の動きを比較することによりプライスの強さを表示します。
param_N_name=期間数
param_N_description=期間数
param_clrRSI_name=ラインの色
param_clrRSI_description=RSIラインの色
param_widthRSI_name=ラインの幅
param_widthRSI_description=Relative Strength Indexラインの幅
param_styleRSI_name=ラインのスタイル
param_styleRSI_description=Relative Strength Indexラインのスタイル
param_level_overboughtsold_width_name=水準ラインの幅
param_level_overboughtsold_width_description=買われすぎ/売られすぎ水準ラインの幅
param_level_overboughtsold_style_name=水準ラインのスタイル
param_level_overboughtsold_style_description=買われすぎ/売られすぎ水準ラインのスタイル
param_level_overboughtsold_color_name=水準の色
param_level_overboughtsold_color_description=買われすぎ/売られすぎ水準ラインの色
param_level_overbought_name=買われすぎ水準
param_level_overbought_description=買われすぎの水準
param_level_oversold_name=売られすぎ水準
param_level_oversold_description=売られすぎの水準
error_bought_bigger_sold=買いすぎレベルは売りすぎレベルより上でなくてはならない

[kor]
codepage=949
name=상대강도 지수 (Relative Strength Index)
description=상류와 하류의 close to close 움직임을 비교하여 가격 강도를 보여줌
param_N_name=기간의 개수
param_N_description=기간의 개수
param_clrRSI_name=선 색상
param_clrRSI_description=상대강도 지수 (Relative Strength Index) 선의 색상
param_widthRSI_name=
param_widthRSI_description=
param_styleRSI_name=
param_styleRSI_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[rus]
codepage=1251
name=Индекс относительной силы
description=Показывает силу цены, сравнивая движения цены вверх и вниз при закрытии периодов.
param_N_name=Количество периодов
param_N_description=Количество периодов.
param_clrRSI_name=Цвет линии
param_clrRSI_description=Цвет линии индекса относительной силы.
param_widthRSI_name=Ширина линии
param_widthRSI_description=Ширина линии индекса относительной силы.
param_styleRSI_name=Стиль линии
param_styleRSI_description=Стиль линии индекса относительной силы.
param_level_overboughtsold_width_name=Ширина линий уровней
param_level_overboughtsold_width_description=Ширина линий уровней перекупленности/перепроданности.
param_level_overboughtsold_style_name=Стиль линий уровней
param_level_overboughtsold_style_description=Стиль линий уровней перекупленности/перепроданности.
param_level_overboughtsold_color_name=Цвет линий уровней
param_level_overboughtsold_color_description=Цвет линий уровней перекупленности/перепроданности.
param_level_overbought_name=Уровень перекупленности
param_level_overbought_description=Уровень перекупленности.
param_level_oversold_name=Уровень перепроданности
param_level_oversold_description=Уровень перепроданности.
error_bought_bigger_sold=Уровень перекупленности должен быть выше уровня перепроданности.

[tur]
codepage=1254
name=Göreceli Güç Endeksi
description=Aşağı ve yukarı yönlü birbirini takip eden hareketleri karşılaştırarak fiyatın gücünü gösterir.
param_N_name=Periyot sayısı
param_N_description=Periyot sayısı.
param_clrRSI_name=Çizgi Rengi
param_clrRSI_description=Göreli Güç Endeksi çizgi rengi.
param_widthRSI_name=Çizgi kalınlığı
param_widthRSI_description=Göreli Güç Endeksi çizgi kalınlığı.
param_styleRSI_name=Çizgi biçimi
param_styleRSI_description=Göreli Güç Endeksi çizgi biçimi.
param_level_overboughtsold_width_name=Seviye çizgilerinin kalınlığı
param_level_overboughtsold_width_description=Aşırı alış/aşırı satış seviye çizgilerinin kalınlığı.
param_level_overboughtsold_style_name=Seviye çizgilerinin biçimi
param_level_overboughtsold_style_description=Aşırı alış/aşırı satış seviye çizgilerinin biçimi.
param_level_overboughtsold_color_name=Seviye çizgilerinin rengi
param_level_overboughtsold_color_description=Aşırı alış/aşırı satış seviye çizgilerinin rengi.
param_level_overbought_name=Aşırı alış seviyesi
param_level_overbought_description=Aşırı alış seviyesi.
param_level_oversold_name=Aşırı satış seviyesi
param_level_oversold_description=Aşırı satış seviyesi.
error_bought_bigger_sold=Aşırı alış parametresi aşırı satıştan büyük olmalı.

[ita]
codepage=1252
name=Relative Strength Index
description=Mostra la forza della price action comparando i movimenti rialzisti o ribassisti dei prezzi di chiusura
param_N_name=Numero di periodi
param_N_description=Il numero di periodi
param_clrRSI_name=Colore della linea
param_clrRSI_description=Il colore della linea del Relative Strength Index
param_widthRSI_name=Spessore della linea
param_widthRSI_description=Lo spessore della linea del Relative Strength Index
param_styleRSI_name=Stile della linea
param_styleRSI_description=Lo stile della linea del Relative Strength Index
param_level_overboughtsold_width_name=Spessore delle linee dei livelli
param_level_overboughtsold_width_description=Lo spessore dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_style_name=Stile delle linee dei livelli
param_level_overboughtsold_style_description=Lo stile dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_color_name=Colore delle linee dei livelli
param_level_overboughtsold_color_description=Il colore dei livelli di ipercomprato/ipervenduto.
param_level_overbought_name=Livello di ipercomprato
param_level_overbought_description=Il livello di ipercomprato
param_level_oversold_name=Livello di ipervenduto
param_level_oversold_description=Il livello di ipervenduto
error_bought_bigger_sold=Il parametro di ipercomprato deve essere maggiore di quello di ipervenduto

[heb]
codepage=1255
name=מדד העוצמה היחסית
description=מודד את עוצמת המחיר הנוכחי ביחס לממוצע המחירים בתקופה הנתונה.
param_N_name=מספר תקופות
param_N_description=מספר התקופות.
param_clrRSI_name=צבע קו
param_clrRSI_description=צבע קו מדד העוצמה היחסית.
param_widthRSI_name=רוחב קו
param_widthRSI_description=רוחב קו מדד העוצמה היחסית.
param_styleRSI_name=סגנון קו
param_styleRSI_description=סגנון קו מדד העוצמה היחסית.
param_level_overboughtsold_width_name=רוחב קווי רמה
param_level_overboughtsold_width_description=רוחב קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_style_name=סוג קווי רמה
param_level_overboughtsold_style_description=סוג קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_color_name=צבע קווי רמה
param_level_overboughtsold_color_description=צבע קווי רמות מכירת-יתר\קניית-יתר
param_level_overbought_name=רמת קניית-יתר
param_level_overbought_description=רמת קניית-היתר
param_level_oversold_name=רמת מכירת-יתר
param_level_oversold_description=רמת מכירת-היתר
error_bought_bigger_sold=ערך קניית היתר צריך להיות גדול ממכירת היתר

[pol]
codepage=1250
name=Wskaźnik siły relatywnej
description=Pokazuje siłę kursu porównując sumę ruchów w górę i w dół
param_N_name=Liczba okresów
param_N_description=Liczba okresów
param_clrRSI_name=Kolor linii
param_clrRSI_description=Kolor linii RSI.
param_widthRSI_name=Grubość linii
param_widthRSI_description=Grubość linii RSI.
param_styleRSI_name=Styl linii
param_styleRSI_description=Styl linii RSI.
param_level_overboughtsold_width_name=Grubość linii poziomych
param_level_overboughtsold_width_description=Grubość linii poziomów wykupienia/wyprzedania.
param_level_overboughtsold_style_name=Styl linii poziomych
param_level_overboughtsold_style_description=Styl linii poziomów wykupienia/wyprzedania.
param_level_overboughtsold_color_name=Kolor linii poziomych
param_level_overboughtsold_color_description=Kolor linii poziomów wykupienia/wyprzedania.
param_level_overbought_name=Poziom wykupienia
param_level_overbought_description=Poziom wykupienia.
param_level_oversold_name=Poziom wyprzedania
param_level_oversold_description=Poziom wyprzedania.
error_bought_bigger_sold=Wysokość poziomu wykupienia musi być większa, niż poziomu wyprzedania

[cze]
codepage=1250
name=Index relativní síly
description=Ukazuje cenovou sílu srovnáním vzrůstajících a klesajících pohybů od závěru do závěru.
param_N_name=Počet period
param_N_description=Počet period.
param_clrRSI_name=Barva linky
param_clrRSI_description=Barva linky RSI.
param_widthRSI_name=Šíře linky
param_widthRSI_description=Šíře linky RSI.
param_styleRSI_name=Styl linky
param_styleRSI_description=Styl linky RSI.
param_level_overboughtsold_width_name=Šíře úrovňové linky
param_level_overboughtsold_width_description=Šíře úrovně překoupení/přeprodání.
param_level_overboughtsold_style_name=Styl úrovňové linky
param_level_overboughtsold_style_description=Styl úrovně překoupení/přeprodání.
param_level_overboughtsold_color_name=Barva úrovňové linky
param_level_overboughtsold_color_description=Barva úrovně překoupení/přeprodání.
param_level_overbought_name=Úroveň překoupení
param_level_overbought_description=Úroveň překoupení.
param_level_oversold_name=Úroveň přeprodání
param_level_oversold_description=Úroveň přeprodání.
error_bought_bigger_sold=Parametr překoupení musí být větší než přeprodání.

[por]
codepage=1252
name=Índice de Força Relativa
description=Mostra a força do preço al comparar movimentos de subida e queda.
param_N_name=Número de períodos
param_N_description=O número de períodos
param_clrRSI_name=Cor da linha
param_clrRSI_description=A cor da linha do índice do força relativa
param_widthRSI_name=Largura da linha
param_widthRSI_description=A largura da linha do índice do força relativa.
param_styleRSI_name=Estilo da linha
param_styleRSI_description=O estilo da linha do índice do força relativa.
param_level_overboughtsold_width_name=Largura das linhas de níveis
param_level_overboughtsold_width_description=A largura dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_style_name=Estilo de linhas de níveis
param_level_overboughtsold_style_description=O estilo dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_color_name=Cor das linhas de níveis
param_level_overboughtsold_color_description=A cor dos níveis sobre-comprados/sobre-vendidos.
param_level_overbought_name=Nível sobre-comprado.
param_level_overbought_description=O nível sobre-comprado.
param_level_oversold_name=Nível sobre-vendido.
param_level_oversold_description=O nível sobre-vendido.
error_bought_bigger_sold=O parâmetro sobre-comprado deve ser maior do que sobre-vendido.

[gre]
codepage=1253
name=Relative Strength Index (RSI)
description=Δείχνει την ισχύ της τιμής συγκρίνοντας κοντινές ανοδικές και καθοδικές κινήσεις.
param_N_name=Αριθμός περιόδων
param_N_description=Ο αριθμός των περιόδων.
param_clrRSI_name=Χρώμα γραμμής
param_clrRSI_description=Χρώμα της γραμμής του Relative Strength Index (RSI)
param_widthRSI_name=Πάχος γραμμής
param_widthRSI_description=Το πάχος της γραμμής του ταλαντωτή Relative Strength
param_styleRSI_name=Στυλ γραμμής
param_styleRSI_description=Το στυ΄της γραμμής του ταλαντωτή Relative Strength
param_level_overboughtsold_width_name=Πάχος γραμμών επιπέδου
param_level_overboughtsold_width_description=Το πάχος των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_style_name=Στυλ γραμμών επιπέδου
param_level_overboughtsold_style_description=Το στυλ των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_color_name=Χρώμα γραμμών επιπέδου
param_level_overboughtsold_color_description=Το χρώμα των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overbought_name=Υπεραγορασμένο επίπεδο
param_level_overbought_description=Το υπεραγορασμένο επίπεδο
param_level_oversold_name=Υπερπουλημένο επίπεδο
param_level_oversold_description=Το υπερπουλημένο επίέδο
error_bought_bigger_sold=Το υπεραγορασμένο επίπεδο πρέπει να είναι μεγαλύτερο από το υπερπουλημένο.

