default=enu
[enu]
codepage=1252
name=Shows signals on the chart
description=Executes the chosen signal and shows the alerts on the chart.
param_SID=Signal
param_SID_D=The signal and its parameters.
param_SP=Set the period of the signal to the chart period
param_SP_D=Set the first signal parameter which expects the period to the period of the chart.
ERR_TICK=The signal can't be tested on the tick data.
param_HistoryData=Price simulation
param_HistoryData_D=Close: 1 (close) tick per period of the history, other modes: 11 ticks per period of the history. The Mix mode chooses High-Low-Close for descending candles, and Low-High-Close for ascending candles.
param_HistoryClose=Close
param_HistoryHLC=High-Low-Close
param_HistoryLHC=Low-High-Close
param_HistoryMix=Mix
param_TM=Account
param_TM_Desc=Choose the account setting to be simulated.
param_TM_FIFO=FIFO (US account)
param_TM_NH=Non-hedging account
param_TM_H=Hedging account
group_Signal=Signal(Strategy)
group_Mode=Testing mode
group_Output=Output
param_ACLR=Alerts
param_ACLR_D=The color of alert labels.
param_SCLR=Sell
param_SCLR_D=The color of sell labels.
param_BCLR=Buy
param_BCLR_D=The color of buy labels.
param_FS=Font size
param_FS_D=The size of the labels font expressed in points (1/72 of inch).
param_LO=Log orders
param_LO_D=In case the parameter is set to "Yes", the orders will be logged as alerts.
param_YES=Yes
param_NO=No

[ara]
codepage=1256
name=إظهار الإشارات على الرسم البياني
description=تنفيذ الإشارات المختارة وإظهار الإشارات على الرسم البياني
param_SID=الإشارة
param_SID_D=اختيار الإشارة والثوابت الخاصة بها
param_SP=تحديد الفترة للرسم البياني
param_SP_D=تحديد ثوابت الإشارة الأولى لحجم الفترة على الرسم البياني.
ERR_TICK=لا يمكن اختبار الإشارة على بيانات فترة "التيك" الزمنية.
param_HistoryData=محاكي السعر
param_HistoryData_D=الإغلاق: 1 تيك للشمعة الواحدة في الماضي، بالنسبة للخيارات الآخرى: 11 تيك للشمعة الواحدة في الماضي. الخيار الأخير "المختلط" يختار بين الإغلاق-العالي-المنخفض للشمعات الهابطة والإغلاق-المنخفض-العالي للشمعات الصاعدة
param_HistoryClose=الإغلاق
param_HistoryHLC=الإغلاق-العالي-المنخفض
param_HistoryLHC=الإغلاق-المنخفض-العالي
param_HistoryMix=المختلط
param_TM=نوع التداول
param_TM_Desc=اختر اعدادات الحساب.
param_TM_FIFO=الداخل أولاُ خارج أولاً "FIFO" (حسابات فرع أمريكا)
param_TM_NH=حساب من دون خاصية الهيدج
param_TM_H=حساب مع خاصية الهيدج
group_Signal=الإشارة (الاستراتيجية)
group_Mode=نوع التداول
group_Output=المخرجات
param_ACLR=التنبيهات
param_ACLR_D=لون علامات التنبيه.
param_SCLR=بيع
param_SCLR_D=لون علامات البيع.
param_BCLR=شراء
param_BCLR_D=لون علامات الشراء.
param_FS=حجم الخط
param_FS_D=حجم خط العلامة معبراً عنه بالنقاط 1 / 72 من البوصة).
param_LO=ادخال الأوامر
param_LO_D=في حال تم اختيار الثابت "نعم" يتم تسجيل الأوامر على شكل التنبيهات
param_YES=نعم
param_NO=لا

[chs]
codepage=936
name=在图表上显示信号
description=执行已选定信号及显示警示于图表上
param_SID=信号
param_SID_D=选择信号及其参数
param_SP=设定图表时期
param_SP_D=在图表上设定第一个信号参数时期大小
ERR_TICK=点线图上信号不能被测验
param_HistoryData=价格模拟器
param_HistoryData_D=收市：历史价格中1根棒1个跳动点（收市价格）， 其他模式： 每根棒历史价格有三个跳动点。 混合模式从下跌的蜡烛中选择高-低-收市价格，从上升蜡烛中选择低-高-收市价格。
param_HistoryClose=收市
param_HistoryHLC=高低收市
param_HistoryLHC=低高收市
param_HistoryMix=混合
param_TM=交易模式
param_TM_Desc=选择一个用于测试的账户设定
param_TM_FIFO=先进先出（美国账户）
param_TM_NH=非对冲账户
param_TM_H=对冲账户
group_Signal=交易信号（策略）
group_Mode=测试模式
group_Output=输出
param_ACLR=提示
param_ACLR_D=提示标签颜色
param_SCLR=卖出
param_SCLR_D=卖出标签颜色
param_BCLR=买入
param_BCLR_D=买入标签颜色
param_FS=字体
param_FS_D=标签字体大小以磅（1/72英寸）为单位
param_LO=交易记录
param_LO_D=如参数是选择了"是", 交易将被记录为提示
param_YES=是
param_NO=否

[cht]
codepage=950
name=在圖表上顯示信號
description=執行已選定信號及顯示警示於圖表上
param_SID=信號
param_SID_D=選擇信號及其參數
param_SP=設定圖表時期
param_SP_D=在圖表上設定第一個信號參數時期大小
ERR_TICK=點線圖上信號不能被測驗
param_HistoryData=價格模擬器
param_HistoryData_D=收市: 1 (收市) 其他模式: 11 .混合模式選擇高低收市圖於下降蠟燭及低高收市圖於上升蠟燭
param_HistoryClose=收市
param_HistoryHLC=高低收市
param_HistoryLHC=低高收市
param_HistoryMix=混合
param_TM=交易模式
param_TM_Desc=選擇一個用於測試的賬戶設定
param_TM_FIFO=先進先出（美國賬戶）
param_TM_NH=非對沖賬戶
param_TM_H=對沖賬戶
group_Signal=交易信號（策略）
group_Mode=測試模式
group_Output=輸出
param_ACLR=提示
param_ACLR_D=提示標籤顏色
param_SCLR=賣出
param_SCLR_D=賣出標籤顏色
param_BCLR=買入
param_BCLR_D=買入標籤顏色
param_FS=字體
param_FS_D=標籤字體大小以磅（1/72英吋）為單位
param_LO=交易記錄
param_LO_D=如參數是選擇了"是", 交易將被記錄為提示
param_YES=是
param_NO=否

[deu]
codepage=1252
name=Zeigt die Signale in der Grakif an
description=Führt das gewählte Signal aus und ziegt die Benachrichtigungen in der Grafik an.
param_SID=Das Signal
param_SID_D=Das Signal und seine Parameter wählen.
param_SP=Periode in der Grafik aufstellen
param_SP_D=Der erste Signalparameter an die Periodengrosse der Grafik anpassen.
ERR_TICK=Dieses Signal lässt sich bei Tickdatei nicht testen.
param_HistoryData=Preis Simulation
param_HistoryData_D=Source of history data
param_HistoryClose=Schluss
param_HistoryHLC=Hoch-Tief-Schluss
param_HistoryLHC=Tief-Hoch-Schluss
param_HistoryMix=mix
param_TM=Trading Modus
param_TM_Desc=Wählen Sie das Konto zum simulieren aus
param_TM_FIFO=FIFO (US Konto)
param_TM_NH=Nicht-Absicherungskonto
param_TM_H=Absicherungskonto
group_Signal=Signal (Strategie)
group_Mode=Testing Modus
group_Output=Output
param_ACLR=Warnmeldungen
param_ACLR_D=Die Farbe des Alarm Etiketts
param_SCLR=Verkaufen
param_SCLR_D=Die Farbe des Kauf Etiketts
param_BCLR=Kaufen
param_BCLR_D=Die Farbe des Kauf Etiketts
param_FS=Schriftgröße
param_FS_D=Die Größe
param_LO=Log Orders
param_LO_D=Im Falle, dass der Parameter mit "Ja" ausgewählt wird, wird die Order als Warnmeldung gespeichert
param_YES=Ja
param_NO=Nein

[rus]
codepage=1251
name=Показать сигналы на графике
description=Индикатор исполняет выбранный сигнал на данных графика и показывает срабатывания на графике.
param_SID=Сигнал
param_SID_D=Сигнал и его параметры.
param_SP=Установить период сигнала равным периоду графика
param_SP_D=Устанавливает первый параметр сигнала, определяющий размер периода, равным периоду графика.
ERR_TICK=Нельзя тестировать сигнал на тиковых данных.
param_HistoryData=Эмуляция цен
param_HistoryData_D=Закрытие: 1 тик (закрытие) за период истории; в других режимах: 11 тиков за период истории. Смешанная эмуляция выбирает Макс-Мин-Закрытие для нисходящих периодов и Мин-Макс-Закрытие для восходящих периодов.
param_HistoryClose=Закрытие
param_HistoryHLC=Макс-Мин-Закрытие
param_HistoryLHC=Мин-Макс-Закрытие
param_HistoryMix=Смешанная
param_TM=Счет
param_TM_Desc=Выберите настройки счета для симуляции.
param_TM_FIFO=FIFO (US счет)
param_TM_NH=Счет без хеджирования
param_TM_H=Счет с хеджированием
group_Signal=Сигнал (Стратегия)
group_Mode=Настройки тестирования
group_Output=Результат
param_ACLR=Сигналы
param_ACLR_D=Цвет меток сигналов.
param_SCLR=Продажа
param_SCLR_D=Цвет меток продажи.
param_BCLR=Покупка
param_BCLR_D=Цвет меток покупки.
param_FS=Размер шрифта
param_FS_D=Размер шрифта меток, выраженный в точках (1/72 дюйма).
param_LO=Записывать ордеры в журнал
param_LO_D=Если выбрано значение параметра "Да", ордеры будут записываться в журнал как сигналы.
param_YES=Да
param_NO=Нет

[tur]
codepage=1254
name=Grafikteki sinyalleri gösterir
description=Seçilen sinyali gerçekleþtirir ve grafikteki uyarýlarý gösterir.
param_SID=Sinyal
param_SID_D=Sinyali ve parametreleri seç.
param_SP=Grafikte periyodu ayarla
param_SP_D=Ýlk sinyal parametresini grafiðin periyoduna ayarla.
ERR_TICK=Sinyal tik verisinde test edilemiyor.
param_HistoryData=Fiyat simülasyonu
param_HistoryData_D=Kapanış: Geçmiş her bir periyot için 1 (kapanış) tik; diğer seçenekler: Geçmiş her bir periyot için 11 tik. Karma mod; düşen mumlar için en yüksek- düşük kapanışı, yükselen mumlar için en düşük-yüksek kapanışı seçer.
param_HistoryClose=Kapanış
param_HistoryHLC=En Yüksek-Düşük Kapanış
param_HistoryLHC=En Düşük-Yüksek Kapanış
param_HistoryMix=Karma
param_TM=İşlem Modu
param_TM_Desc=Uygulanacak hesap ayarlarını seçin.
param_TM_FIFO=FIFO (ABD hesabı)
param_TM_NH=Hedging yapılmayan hesap
param_TM_H=Hedging yapılabilen hesap
group_Signal=Sinyal (Strateji)
group_Mode=Test Modu
group_Output=Çıktı
param_ACLR=Uyarılar
param_ACLR_D=Uyarı etiketlerinin rengi.
param_SCLR=Sat
param_SCLR_D=Alış etiketlerinin rengi.
param_BCLR=Al
param_BCLR_D=Alış etiketlerinin rengi.
param_FS=Yazı Tipi Büyüklüğü
param_FS_D=Etiketin yazı tipinin büyüklüğü (1/72 inç ).
param_LO=Kayıtlı Emirler
param_LO_D=Parametrenin “evet” olarak seçilmesi durumunda emirler uyarılar olarak kaydedilecek.
param_YES=Evet
param_NO=Hayır

[ita]
codepage=1252
name=Mostra i segnali sul grafico
description=Esegue il segnale scelto e mostra gli alert sul grafico
param_SID=Segnale
param_SID_D=Scegli il segnale ed i suoi parametri
param_SP=Imposta il periodo del grafico
param_SP_D=Imposta il parametro del primo segnale all'ampiezza del periodo del grafico
ERR_TICK=Il segnale non può essere testato su dati tibk by tick.
param_HistoryData=Andamento Simulato
param_HistoryData_D=Close: 1 (close) tick per ciascun periodo storico, altre modalità: 11 tick per ciascun periodo storico. La modalità "Mix" sceglie High-Low-Close per le candele discendenti, e Low-High-Close per le candele ascendenti.
param_HistoryClose=Close
param_HistoryHLC=High-Low-Close
param_HistoryLHC=Low-High-Close
param_HistoryMix=Mix
param_TM=Modo di trading
param_TM_Desc=Scegliere l'impostazione del conto da simulare
param_TM_FIFO=FIFO (Conti US)
param_TM_NH=Conto Non-hedging
param_TM_H=Conto Hedging
group_Signal=Segnale(Strategia)
group_Mode=Modo di test
group_Output=Output
param_ACLR=Alert
param_ACLR_D=Colore dell'etichetta degli alert
param_SCLR=Sell
param_SCLR_D=Il colore delle etichette di acquisto
param_BCLR=Buy
param_BCLR_D=Il colore delle etichette di acquisto
param_FS=Dimensione del carattere
param_FS_D=La dimensione dei caratteri dell'etichetta espressa in punti (1/72 di pollice)
param_LO=Log degli ordini
param_LO_D=In caso il parametro scelto sia 'Si' gli ordini saranno registrati come alert
param_YES=Si
param_NO=No

[heb]
codepage=1255
name=מציג את האיתותים על הגרף
description=מבצע את האיתות הנבחר ומציג את ההתראות על הגרף
param_SID=האיתות
param_SID_D=בחר את האיתות ואת המאפיינים שלו.
param_SP=הגדרת מסגרת זמן לגרף
param_SP_D=הגדרת הפרמטר של האיתות הראשון לגודל התקופה של הגרף.
ERR_TICK=לא ניתן לבחון את האיתות על נתוני טיקים.
param_HistoryData=הדמיית מחיר
param_HistoryData_D=סגירה 1: (סגירה) טיק לכל תקופה של ההיסטוריה. מצבים נוספים: 11 טיקים לכל תקופה של היסטוריה. המצב המשולב בוחר שיא-שפל-סגירה לכל נר יורד ושפל-שיא-סגירה לכל נר עולה.
param_HistoryClose=סגירה
param_HistoryHLC=שיא-שפל-סגירה
param_HistoryLHC=שפל-שיא-סגירה
param_HistoryMix=משולב
param_TM=מצב מסחר
param_TM_Desc=הגדר את הגדרות החשבון שברצונך לדמות
param_TM_FIFO=מתכונת FIFO (חשבון US)
param_TM_NH=חשבון ללא אפשרות גידור
param_TM_H=חשבון גידור
group_Signal=איתות (אסטרטגיה)
group_Mode=מצב בדיקה
group_Output=פלט
param_ACLR=התראות
param_ACLR_D=צבצ תגיות האתרעות.
param_SCLR=מכירה
param_SCLR_D=צבע תגיות מכירה.
param_BCLR=קנייה
param_BCLR_D=צבע תגיות קנייה..
param_FS=גודל גופן.
param_FS_D=גודל הגופן על התגיות, מבוטא בנקודות (0.72 אינץ')
param_LO=יומן הוראות
param_LO_D=במידה והפרמטר הוא "כן", ההוראות יועלו כהתראות
param_YES=כן
param_NO=לא

[pol]
codepage=1250
name=Pokaż sygnały na wykresie
description=Realizuje wybrany sygnał i pokazuje alerty na wykresie.
param_SID=Sygnał
param_SID_D=Dostosuj sygnał i jego parametry.
param_SP=Ustaw interwał wykresu.
param_SP_D=Dostosuj pierwszy parametr sygnału do interwału wykresu.
ERR_TICK=Sygnał nie moze być testowany na danych tick'owych.
param_HistoryData=Data source
param_HistoryData_D=Source of history data
param_HistoryClose=close
param_HistoryHLC=hlc
param_HistoryLHC=lhc
param_HistoryMix=mix
param_TM=Tryb transakcji
param_TM_Desc=Wybierz symulowany rodzaj rachunku.
param_TM_FIFO=FIFO
param_TM_NH=Rachunek niezabezpieczający
param_TM_H=Rachunek zabezpieczający
group_Signal=Sygnał (Strategia)
group_Mode=Tryb testowania
group_Output=Wynik
param_ACLR=Alerty
param_ACLR_D=Kolor opisu alertu.
param_SCLR=Sprzedaj
param_SCLR_D=Kolor opisu sprzedaży.
param_BCLR=Kupuj
param_BCLR_D=Kolor opisu kupna.
param_FS=Rozmiar czcionki
param_FS_D=Rozmiar czcionki wyrażony w punktach.
param_LO=Zapis zleceń
param_LO_D=W przypadku wyboru 'tak' zlecenia będą zapisywane jako alerty.
param_YES=Tak
param_NO=Nie

[cze]
codepage=1250
name=Zobrazit signály v grafu
description=Zaktivní zvolený signál a zobrazí ho v grafu.
param_SID=Signál
param_SID_D=Zvolte signál a jeho parametry.
param_SP=Nastavit periodu grafu
param_SP_D=Nastavit první parametr signálu shodně s periodou grafu.
ERR_TICK=Signál nemůže být aplikovaný na graf s tick periodou.
param_HistoryData=Cenová simulace
param_HistoryData_D=Závěr: 1. (závěrečný) pip za zvolenou periodu, další způsoby: 11 pipy za zvolenou periodu. Volba Mix vybírá Maximum-Minimum-Závěr pro sestupné svíce a Minimum-Maximum-Závěr pro vzestupné svíce
param_HistoryClose=Závěr
param_HistoryHLC=Maximum-Minimum-Závěr
param_HistoryLHC=Minimum - Maximum - Závěr
param_HistoryMix=Mix
param_TM=Způsob obchodování
param_TM_Desc=Zvolit nastavení účtu k simulaci.
param_TM_FIFO=FIFO (US account)
param_TM_NH=Non-hedging účet
param_TM_H=Hedging účet
group_Signal=Signál (Strategie)
group_Mode=Metoda testování
group_Output=Výstup
param_ACLR=Alerty
param_ACLR_D=Barva alertového označení.
param_SCLR=Prodat
param_SCLR_D=Barva označení prodeje.
param_BCLR=Koupit
param_BCLR_D=Barva označení nákupu.
param_FS=Velikost fontu
param_FS_D=Velikost fontu označení vyjádřeného v bodech (1/72 palce).
param_LO=Pokyny
param_LO_D=V případě, že parametr je zvolen jako "ano", pokyny budou evidovány jako alerty.
param_YES=Ano
param_NO=Ne

[gre]
codepage=1253
name=Εμφάνιση σημάτων στο διάγραμμα
description=Εκτελεί το επιλεγμένο σήμα και εμφανίζει τις ειδοποιήσεις στο διάγραμμα
param_SID=Σήμα
param_SID_D=Επιλέξτε το σήμα και τις παραμέτρους του
param_SP=Ορίστε περίοδο στο διάγραμμα
param_SP_D=Ορίστε την πρώτη παράμετρο σήματος στην περίοδο του διαγράμματος
ERR_TICK=Το σήμα δεν μπορεί να δοκιμαστεί σε περίοδο tick
param_HistoryData=Προσομοίωση τιμής
param_HistoryData_D=Κλείσιμο: 1 tick (κλείσιμο) ανά ιστορική περίοδο, άλλοι τρόποι: 11 ticks ανά ιστορική περίοδο. Η Σύνθετη επιλογή διαλέγει τα Υψηλά-Χαμηλά-Κλεισίματα για πτωτικά candles, και Χαμηλά-Υψηλά-Κλεισίματα για ανοδικά candles.
param_HistoryClose=Κλείσιμο
param_HistoryHLC=Υψηλό-Χαμηλό-Κλείσιμο
param_HistoryLHC=Χαμηλό-Υψηλό-Κλείσιμο
param_HistoryMix=Σύνθετη
param_TM=Τρόπος συναλλαγών
param_TM_Desc=Επιλέξτε προσομοίωση των ρυθμίσεων του λογαριασμού
param_TM_FIFO=FIFΟ (λογαριασμός Αμερικής)
param_TM_NH=Λογαριασμός χωρίς hedging
param_TM_H=Λογαριασμός με hedging
group_Signal=Σήμα (Στρατηγική)
group_Mode=Τύπος δοκιμών
group_Output=Απόδοση
param_ACLR=Ειδοποιήσεις
param_ACLR_D=Το χρώμα των ετικετών ειδοποίησης
param_SCLR=Πώληση
param_SCLR_D=Το χρώμα των ετικετών αγοράς
param_BCLR=Αγορά
param_BCLR_D=Το χρώμα των ετικετών αγοράς
param_FS=Μέγεθος γραμματοσειράς
param_FS_D=Το μέγεθος της γραμματοσειράς ετικετών εκφρασμένο σε πόντους
param_LO=Ιστορικό Εντολών
param_LO_D=Στην περίπτωση που η παράμετρος είναι επιλεγμένη ως "ναι" οι εντολές θα καταγράφονται ως ειδοποιήσεις
param_YES=Ναι
param_NO=Όχι

[por]
codepage=1252
name=Mostrar os sinais no gráfico
description=Executa o sinal selecionado e mostra as alertas no gráfico.
param_SID=O sinal
param_SID_D=Seleciona o sinal e os parâmetros.
param_SP=Aplicar período ao gráfico
param_SP_D=Aplicar o primeiro parâmetro do sinal ao tamanho do período do gráfico.
ERR_TICK=O sinal não pode ser testado nos dados de tick.
param_HistoryData=Simulação de preço
param_HistoryData_D=Encerramento: 1 tick (de encerramento) por periodo histórico, outros modos: 11 ticks por periodo histórico. O modo Mix seleciona preços de Alto-Baixo-Encerramento para as velas decrescentes, e Baixo-Alto-Encerramento para as velas crescentes.
param_HistoryClose=Encerramento
param_HistoryHLC=Alto-Baixo-Encerramento
param_HistoryLHC=Baixo-Alto-Encerramento
param_HistoryMix=Mix
param_TM=Modo de Operação
param_TM_Desc=Escolher a configuração da conta para ser simulada.
param_TM_FIFO=FIFO (Conta E.E.U.U.)
param_TM_NH=Conta sem Hedging
param_TM_H=Conta com Hedging
group_Signal=Sinal (Estratégia)
group_Mode=Modo de Teste
group_Output=Produção
param_ACLR=Alertas
param_ACLR_D=A cor das etiquetas de alerta.
param_SCLR=Vender
param_SCLR_D=A cor das etiquetas de venda.
param_BCLR=Comprar
param_BCLR_D=A cor das etiquetas de compra.
param_FS=Tamanho da Fonte
param_FS_D=O tamanho da etiqueta de fontes espressado em pontos (1/72 inch).
param_LO=Histórico de Ordens
param_LO_D=Em caso de que o parâmetro está escolhido como "sim" as ordens serão registradas como alertas.
param_YES=Sim
param_NO=Não

[jpn]
codepage=932
name=チャート上にシグナルを表示する
description=選択したシグナルを実行し、アラートを表示する
param_SID=シグナル
param_SID_D=シグナルとパラメータを選択してください
param_SP=チャートにピリオド（期間）を指定してください。
param_SP_D=最初のシグナルの期間サイズを決めてください
ERR_TICK=このシグナルはティックデータでは実行できません。
param_HistoryData=プライスシミュレーション
param_HistoryData_D=Close：過去データの期間あたり1ティック、その他のモードは11ティック。ミックスモードではHigh-Low-Closeを下降ローソク足に使い、Low-High-Closeを上昇ローソクに使う。
param_HistoryClose=終値
param_HistoryHLC=高値-安値-終値
param_HistoryLHC=安値-高値-終値
param_HistoryMix=ミックス
param_TM=取引モード
param_TM_Desc=シミュレーション用の口座種類を選択
param_TM_FIFO=FIFO（米国口座）
param_TM_NH=ヘッジなし口座
param_TM_H=ヘッジあり口座
group_Signal=シグナル（ストラテジー）
group_Mode=テストモード
group_Output=取引結果
param_ACLR=アラート
param_ACLR_D=アラートのラベル色
param_SCLR=売値
param_SCLR_D=売値ラベル色
param_BCLR=買値
param_BCLR_D=買値ラベル色
param_FS=文字フォント
param_FS_D=ラベルのフォントサイズ
param_LO=注文履歴
param_LO_D="あり"を選択した場合は、注文はアラートとして記録されます。
param_YES=あり
param_NO=なし

[fra]
codepage=1252
name=Montre des signaux sur le graphique
description=Exécute le signal et montre les alertes sur le graphique
param_SID=Le signal
param_SID_D=Choisir le signal et ses paramètres
param_SP=Mettre la période de signal comme la période de graphique
param_SP_D=Mettre le premier paramètre de signal qui s'attend à la période comme la période de graphique
ERR_TICK=On ne peut pas examiner le signal en ticks.
param_HistoryData=Simulation de prix
param_HistoryData_D=Fermeture: 1 (fermer) tick par période de l'historique, autres modes: 11 ticks par période de l'historique. Le mode hybride choisit Plus haut-Plus bas-Fermeture pour les bougies descendantes, et Plus bas-Plus haut-Fermeture pour les bougies ascendantes
param_HistoryClose=Fermeture
param_HistoryHLC=Plus haut-Plus bas-Fermeture
param_HistoryLHC=Plus bas-Plus haut-Fermeture
param_HistoryMix=Hybride
param_TM=Mode de trading
param_TM_Desc=Choisir le réglage de compte à simuler
param_TM_FIFO=FIFO (Compte US)
param_TM_NH=Compte Non-hedging
param_TM_H=Compte Hedging
group_Signal=Signal(Strategie)
group_Mode=Mode de test
group_Output=Sortie
param_ACLR=Alertes
param_ACLR_D=Couleur des étiquettes d'alertes
param_SCLR=Vendre
param_SCLR_D=Couleur des étiquettes achat
param_BCLR=Achat
param_BCLR_D=Couleur des étiquettes achat
param_FS=Taille de police
param_FS_D=La taille de police des étiquettes exprimée en points (1/72 of inch)
param_LO=Enregistrement d'ordres
param_LO_D=Au cas où le paramètre choisi est "oui" les ordres seront enregistrés comme alertes
param_YES=Oui
param_NO=Non

[esp]
codepage=1252
name=Mostrar señales en el grafico
description=Ejecutar la Señal seleccionada y mostrar las alertas en el grafico.
param_SID=Señal
param_SID_D=La señal y sus parámetros.
param_SP=Establezca el periodo de la señal al periodo de el grafico
param_SP_D=Establezca el parámetro de la primera señal que se espera en el periodo al periodo del grafico.
ERR_TICK=La señal no puede ser probada con los datos de tick.
param_HistoryData=Precio simulado
param_HistoryData_D=Cierre:1 (cierre) tick por barra de historia, Otro modo: 11 ticks por historial de barra. Modo mixto elige entre Alto-bajo-Cierra para velas descendentes y Bajos-Altos de cierra para velas ascendentes.
param_HistoryClose=Cierre
param_HistoryHLC=Alto-Bajo-Cierre
param_HistoryLHC=Bajo-Alto-Cierre
param_HistoryMix=Combinación
param_TM=Modelo de Ejecución
param_TM_Desc=Seleccione la cuenta para ser simulada.
param_TM_FIFO=FIFO (cuentas de USA)
param_TM_NH=Cuentas sin cobertura
param_TM_H=Cuentas con cobertura
group_Signal=Señales (estrategias)
group_Mode=Modo de prueba
group_Output=Rendimiento
param_ACLR=Alertas
param_ACLR_D=Color en las etiquetas de alerta.
param_SCLR=Comprar
param_SCLR_D=Colores en las etiquetas de compra.
param_BCLR=Comprar
param_BCLR_D=Colores en las etiquetas de compra.
param_FS=tamaño de fuente
param_FS_D=El tamaño de los tiquetes de la fuente son expresados en puntos ( 1/72 pulgadas).
param_LO=Registrar órdenes
param_LO_D=En el caso en que el parámetro sea elegido "Si" las órdenes se registraran como alertas
param_YES=Si
param_NO=No

