default=enu
[enu]
codepage=1252
name=Aroon
description=Reveals the beginning of a new trend.
param_N_name=Number of periods
param_N_description=The number of periods.
param_clrUp_name=Up line color
param_clrUp_description=The color of the up line.
param_widthUP_name=Up line width
param_widthUP_description=The width of the up line.
param_styleUP_name=Up line style
param_styleUP_description=The style of the up line.
param_clrDown_name=Down line color
param_clrDown_description=The color of the down line.
param_widthDOWN_name=Down line width
param_widthDOWN_description=The width of the down line.
param_styleDOWN_name=Down line style
param_styleDOWN_description=The style of the down line.

[ara]
codepage=1256
name=أروون
description=إظهار بداية الاتجاه الجديد
param_N_name=عدد الفترات
param_N_description=عدد الفترات
param_clrUp_name=لون الخط الأول
param_clrUp_description=لون الخط الأعلى
param_widthUP_name=عرض الخط الأعلى
param_widthUP_description=عرض الخط الأعلى.
param_styleUP_name=نوع الخط الأعلى.
param_styleUP_description=نوع الخط الأعلى.
param_clrDown_name=لون الخط الثاني
param_clrDown_description=لون الخط الأدنى
param_widthDOWN_name=عرض الخط الأدنى
param_widthDOWN_description=عرض الخط الأدنى.
param_styleDOWN_name=نوع الخط الأدنى.
param_styleDOWN_description=نوع الخط الأدنى.

[chs]
codepage=936
name=安龙指标
description=提示新趋势的开始
param_N_name=时期数目
param_N_description=时期数目
param_clrUp_name=上线颜色
param_clrUp_description=上线颜色
param_widthUP_name=上线宽
param_widthUP_description=上线的宽度
param_styleUP_name=上线样式
param_styleUP_description=上线的样式
param_clrDown_name=下线颜色
param_clrDown_description=下线颜色
param_widthDOWN_name=下线宽
param_widthDOWN_description=下线的宽度
param_styleDOWN_name=下线样式
param_styleDOWN_description=下线的样式

[cht]
codepage=950
name=安龍指標
description=提示新趨勢的開始
param_N_name=時期數目
param_N_description=時期數目
param_clrUp_name=上線顏色
param_clrUp_description=上線顏色
param_widthUP_name=上线宽
param_widthUP_description=上线的宽度
param_styleUP_name=上线样式
param_styleUP_description=上线的样式
param_clrDown_name=下線顏色
param_clrDown_description=下線顏色
param_widthDOWN_name=下线宽
param_widthDOWN_description=下线的宽度
param_styleDOWN_name=下线样式
param_styleDOWN_description=下线的样式

[ctt]
codepage=950
name=安龍指標
description=提示新趨勢的開始
param_N_name=時期數目
param_N_description=時期數目
param_clrUp_name=上線顏色
param_clrUp_description=上線顏色
param_widthUP_name=
param_widthUP_description=
param_styleUP_name=
param_styleUP_description=
param_clrDown_name=下線顏色
param_clrDown_description=下線顏色
param_widthDOWN_name=
param_widthDOWN_description=
param_styleDOWN_name=
param_styleDOWN_description=

[deu]
codepage=1252
name=Aroon
description=Leitet eine neue Tendenz ein
param_N_name=Anzahl der Perioden
param_N_description=Anzahl der Perioden
param_clrUp_name=Farbe der ersten Linie
param_clrUp_description=Farbe der ersten Linie
param_widthUP_name=Breite der Aufwärtslinie
param_widthUP_description=Die Breite der Aufwärtslinie
param_styleUP_name=Stil der Aufwärtslinie
param_styleUP_description=Der Stil der Aufwärtslinie
param_clrDown_name=Farbe der zweiten Linie
param_clrDown_description=Farbe der zweiten Linie
param_widthDOWN_name=Breite der Abwärtslinie
param_widthDOWN_description=Die Breite der Abwärtslinie
param_styleDOWN_name=Stil der Abwärtslinie
param_styleDOWN_description=Der Stil der Abwärtslinie

[esp]
codepage=1252
name=Aroon
description=Revela el comienzo de una tendencia nueva
param_N_name=Número de periodos
param_N_description=El número de periodos
param_clrUp_name=Color de la línea superior
param_clrUp_description=El color de la línea superior
param_widthUP_name=Amplitud de la línea superior
param_widthUP_description=La amplitud de la línea superior.
param_styleUP_name=Estilo de la línea superior
param_styleUP_description=El estilo de la línea superior.
param_clrDown_name=Color de la línea inferior
param_clrDown_description=El color de la línea inferior
param_widthDOWN_name=Amplitud de la línea inferior
param_widthDOWN_description=La amplitud de la línea inferior.
param_styleDOWN_name=Estilo de la linea inferior
param_styleDOWN_description=El estilo de la línea inferior.

[fra]
codepage=1252
name=Aroon
description=Révèle le commencement d'une nouvelle tendance
param_N_name=Nombre de périodes
param_N_description=Le nombre de périodes
param_clrUp_name=Couleur de la ligne du dessus
param_clrUp_description=La couleur de la ligne du dessus
param_widthUP_name=Largeur de la ligne du haut
param_widthUP_description=La largeur de la ligne du haut
param_styleUP_name=Style de' la ligne du haut
param_styleUP_description=Le style de la ligne du haut
param_clrDown_name=Couleur de la ligne du dessous
param_clrDown_description=La couleur de la ligne du dessous
param_widthDOWN_name=Largeur de la ligne du bas
param_widthDOWN_description=La largeur de la ligne du bas
param_styleDOWN_name=Style de la ligne du bas
param_styleDOWN_description=Le style de la ligne du bas

[jpn]
codepage=932
name=アルーン
description=トレンドの始まりを明確にします
param_N_name=期間数
param_N_description=期間数
param_clrUp_name=ファースト・ラインの色
param_clrUp_description=ファースト・ラインの色を設定します
param_widthUP_name=アップラインの幅
param_widthUP_description=アップラインの幅を設定します
param_styleUP_name=アップラインのスタイル
param_styleUP_description=アップラインのスタイルを設定します
param_clrDown_name=セカンド・ラインの色
param_clrDown_description=セカンド・ラインの色を設定します
param_widthDOWN_name=ダウンラインの幅
param_widthDOWN_description=ダウンラインの幅を設定します
param_styleDOWN_name=ダウンラインのスタイル
param_styleDOWN_description=ダウンラインのスタイルを設定します

[kor]
codepage=949
name=AROON (Aroon)
description=새로운 경향을 나타냄
param_N_name=기간의 개수
param_N_description=기간의 개수
param_clrUp_name=첫 번째 선 색상
param_clrUp_description=첫 번째 선 색상
param_widthUP_name=
param_widthUP_description=
param_styleUP_name=
param_styleUP_description=
param_clrDown_name=두 번째 선 색상
param_clrDown_description=두 번째 선 색상
param_widthDOWN_name=
param_widthDOWN_description=
param_styleDOWN_name=
param_styleDOWN_description=

[rus]
codepage=1251
name=Арун
description=Выявляет начало нового тренда.
param_N_name=Количество периодов
param_N_description=Количество периодов.
param_clrUp_name=Цвет линии "вверх"
param_clrUp_description=Цвет линии "вверх".
param_widthUP_name=Ширина линии "вверх"
param_widthUP_description=Ширина линии "вверх".
param_styleUP_name=Стиль линии "вверх"
param_styleUP_description=Стиль линии "вверх".
param_clrDown_name=Цвет линии "вниз"
param_clrDown_description=Цвет линии "вниз".
param_widthDOWN_name=Ширина линии "вниз"
param_widthDOWN_description=Ширина линии "вниз".
param_styleDOWN_name=Стиль линии "вниз"
param_styleDOWN_description=Стиль линии "вниз".

[tur]
codepage=1254
name=Aroon
description=Yeni trend başlangıcını gösterir.
param_N_name=Periyot sayısı
param_N_description=Periyot sayısı.
param_clrUp_name=Üst çizgi rengi
param_clrUp_description=Üst çizginin rengi.
param_widthUP_name=Üst çizgi kalınlığı
param_widthUP_description=Üst çizginin kalınlığı.
param_styleUP_name=Üst çizgi biçimi
param_styleUP_description=Üst çizginin biçimi.
param_clrDown_name=Alt çizgi rengi
param_clrDown_description=Alt çizginin rengi.
param_widthDOWN_name=Alt çizgi kalınlığı
param_widthDOWN_description=Alt çizginin kalınlığı.
param_styleDOWN_name=Alt çizgi biçimi
param_styleDOWN_description=Alt çizginin biçimi.

[ita]
codepage=1252
name=Aroon
description=Mostra l'inizio di un nuovo trend
param_N_name=Numero di periodi
param_N_description=Il numero di periodi
param_clrUp_name=Colore della linea superiore
param_clrUp_description=Il colore della linea superiore
param_widthUP_name=Spessore della linea rialzista
param_widthUP_description=Lo spessore della linea rialzista.
param_styleUP_name=Stile della linea rialzista
param_styleUP_description=Lo stile della linea rialzista.
param_clrDown_name=Colore della linea inferiore
param_clrDown_description=Il colore della linea inferiore
param_widthDOWN_name=Spessore della linea ribassista.
param_widthDOWN_description=Lo spessore della linea ribassista.
param_styleDOWN_name=Stile della linea ribassita.
param_styleDOWN_description=Lo stile della linea ribassita.

[heb]
codepage=1255
name=Aroon
description=מזהה את המגמה בתחילתה.
param_N_name=מספר תקופות
param_N_description=מספר התקופות.
param_clrUp_name=צבע קו עולה
param_clrUp_description=צבע הקו העולה.
param_widthUP_name=רוחב קו עולה
param_widthUP_description=רוחב הקו העולה.
param_styleUP_name=סגנון קו עולה
param_styleUP_description=סגנון הקו העולה.
param_clrDown_name=צבע קו יורד
param_clrDown_description=צבע הקו היורד.
param_widthDOWN_name=רוחב קו יורד
param_widthDOWN_description=רוחב הקו היורד.
param_styleDOWN_name=סגנון קו יורד
param_styleDOWN_description=סגנון הקו היורד.

[pol]
codepage=1250
name=Aroon
description=Pokazuje początek nowego trendu
param_N_name=Liczba okresów
param_N_description=Liczba okresów
param_clrUp_name=Kolor linii górnej
param_clrUp_description=Kolor linii górnej
param_widthUP_name=Grubość linii górnej
param_widthUP_description=Grubość linii górnej
param_styleUP_name=Styl linii górnej
param_styleUP_description=Styl linii górnej
param_clrDown_name=Kolor linii dolnej
param_clrDown_description=Kolor linii dolnej
param_widthDOWN_name=Grubość linii dolnej
param_widthDOWN_description=Grubość linii dolnej
param_styleDOWN_name=Styl linii dolnej
param_styleDOWN_description=Styl linii dolnej

[cze]
codepage=1250
name=Aroon
description=Ukazuje začátek nového trendu.
param_N_name=Počet period
param_N_description=Odhalí začátek nového trendu.
param_clrUp_name=Barva horní linky
param_clrUp_description=Barva vrchní linky.
param_widthUP_name=Šíře horní linky.
param_widthUP_description=Šíře horní linky.
param_styleUP_name=Styl horní linky
param_styleUP_description=Styl horní linky.
param_clrDown_name=Barva spodní linky
param_clrDown_description=Barva horní linky.
param_widthDOWN_name=Šíře spodní linky
param_widthDOWN_description=Šíře spodní linky.
param_styleDOWN_name=Styl spodní linky
param_styleDOWN_description=Styl spodní linky.

[por]
codepage=1252
name=Aroon
description=Revela o começo de uma tendência nova.
param_N_name=Número de períodos
param_N_description=O número de períodos
param_clrUp_name=Cor da linha superior
param_clrUp_description=A cor da linha superior
param_widthUP_name=Largura da linha superior
param_widthUP_description=A largura da linha superior.
param_styleUP_name=Estilo da linha superior
param_styleUP_description=O estilo da linha superior.
param_clrDown_name=Cor da linha inferior
param_clrDown_description=A cor da linha inferior
param_widthDOWN_name=Largura da linha inferior
param_widthDOWN_description=A largura da linha inferior.
param_styleDOWN_name=Estilo da linha inferior
param_styleDOWN_description=O estilo da linha inferior.

[gre]
codepage=1253
name=Aroon
description=Αποκαλύπτει την αρχή μιας νέας τάσης.
param_N_name=Αριθμός περιόδων
param_N_description=Ο αριθμός των περιόδων.
param_clrUp_name=Χρώμα πάνω γραμμής
param_clrUp_description=Το χρώμα της πάνω γραμμής.
param_widthUP_name=Πάχος επάνω γραμμής
param_widthUP_description=Το πάχος της επάνω γραμμής
param_styleUP_name=Στυλ επάνω γραμμής
param_styleUP_description=Το στυλ της επάνω γραμμής
param_clrDown_name=Χρώμα κάτω γραμμής
param_clrDown_description=Το χρώμα της κάτω γραμμής.
param_widthDOWN_name=Πάχος κάτω γραμμής
param_widthDOWN_description=Το πάχος της κάτω γραμμής
param_styleDOWN_name=Στυλ κάτω γραμμής
param_styleDOWN_description=Το στυλ της κάτω γραμμής

