default=enu
[enu]
codepage=1252
name=Bollinger Band
description=Provides a relative definition of high and low based on standard deviations and a simple moving average.
param_N_name=Number of periods
param_N_description=The number of periods.
param_Dev_name=Number of standard deviations
param_Dev_description=The number of standard deviations.
param_clrBBBand_name=Band lines color
param_clrBBBand_description=The color of upper and lower lines of the band.
param_widthBBB_name=Band lines width
param_widthBBB_description=The width of upper and lower lines of the band.
param_styleBBB_name=Band lines style
param_styleBBB_description=The style of upper and lower lines of the band.
param_HideA_name=Hide average line
param_HideA_description=Defines whether the BB average line is hidden.
param_clrBBA_name=Average line color
param_clrBBA_description=The color of the average line of the band.
param_widthBBA_name=Average line width
param_widthBBA_description=The width of the average line of the band.
param_styleBBA_name=Average line style
param_styleBBA_description=The style of the average line of the band.

[ara]
codepage=1256
name=بولينجير باند
description=تقديم التعريف النسبي الأعلى والأدنى المعتمدة على الانحراف المعياري والمتوسط المتحرك البسيط
param_N_name=عدد الفترات
param_N_description=عدد الفترات
param_Dev_name=عدد الانحرافات المعيارية
param_Dev_description=عدد الانحرافات المعيارية
param_clrBBBand_name=لون الخطوط لمؤشر BB
param_clrBBBand_description=اللون الخطوط العلوية والسفلية في مؤشر BB
param_widthBBB_name=عرض الخط الخاص بمؤشر BB
param_widthBBB_description=عرض الخط الخاص بالخط الأعلى واالأدنى لمؤشر BB
param_styleBBB_name=نوع الخط الخاص بمؤشر BB
param_styleBBB_description=نوع الخط الخاص بالخط الأعلى واالأدنى لمؤشر BB
param_HideA_name=إخفاء الخط المتوسط
param_HideA_description=تحديد ما إذا كان خط متوسط BB مخفي
param_clrBBA_name=لون الخط المتوسط
param_clrBBA_description=لون الخط التوسط لمؤشر BB
param_widthBBA_name=عرض الخط المتوسط
param_widthBBA_description=عرض الخط المتوسط لمؤشر BB
param_styleBBA_name=نوع الخط المتوسط
param_styleBBA_description=نوع الخط االمتوسط لمؤشر BB

[chs]
codepage=936
name=保力加通道
description=基础于标准差及移动平均线提供相关高及低的定义
param_N_name=时期数目
param_N_description=时期数目
param_Dev_name=标准差数目
param_Dev_description=标准差数目
param_clrBBBand_name=轨道线颜色
param_clrBBBand_description=上下轨道线颜色
param_widthBBB_name=轨道线宽度
param_widthBBB_description=上下轨道线宽度
param_styleBBB_name=轨道线样式
param_styleBBB_description=上下轨道线样式
param_HideA_name=隐藏平均线
param_HideA_description=定义保力加平均线是否被隐藏
param_clrBBA_name=平均线颜色
param_clrBBA_description=平均线颜色
param_widthBBA_name=平均线的宽度
param_widthBBA_description=平均线通道的宽度
param_styleBBA_name=平均线的样式
param_styleBBA_description=平均线通道的样式

[cht]
codepage=950
name=保力加通道
description=基礎於標準差及移動平均線提供相關高及低的定義
param_N_name=時期數目
param_N_description=時期數目
param_Dev_name=標準差數目
param_Dev_description=標準差數目
param_clrBBBand_name=軌道線顏色
param_clrBBBand_description=上下軌道線顏色
param_widthBBB_name=軌道線寬度
param_widthBBB_description=上下軌道線寬度
param_styleBBB_name=軌道線樣式
param_styleBBB_description=上下軌道線樣式
param_HideA_name=隱藏平均線
param_HideA_description=定義保力加平均線是否被隱藏
param_clrBBA_name=平均線顏色
param_clrBBA_description=平均線顏色
param_widthBBA_name=平均線的寬度
param_widthBBA_description=平均線通道的寬度
param_styleBBA_name=平均線的樣式
param_styleBBA_description=平均線通道的樣式

[ctt]
codepage=950
name=保力加通道
description=基礎於標準差及移動平均線提供相關高及低的定義
param_N_name=時期數目
param_N_description=時期數目
param_Dev_name=標準差數目
param_Dev_description=標準差數目
param_clrBBBand_name=
param_clrBBBand_description=
param_widthBBB_name=
param_widthBBB_description=
param_styleBBB_name=
param_styleBBB_description=
param_HideA_name=
param_HideA_description=
param_clrBBA_name=
param_clrBBA_description=
param_widthBBA_name=
param_widthBBA_description=
param_styleBBA_name=
param_styleBBA_description=

[deu]
codepage=1252
name=Bollinger Band
description=Leistet eine verhältnismäßige Definition von Hoch- und Tiefpunkten aufgrund Standardabweichungen und gleitenden Durcschnitts
param_N_name=Anzahl der Perioden
param_N_description=Anzahl der Perioden
param_Dev_name=Anzahl der Standardabweichungen
param_Dev_description=Anzahl von Standardabweichungen
param_clrBBBand_name=Farbe der Band-Linien
param_clrBBBand_description=Farbe der obigen under unteren Bandlinien
param_widthBBB_name=Breite der Bänderlinien
param_widthBBB_description=Die Breite der oberen und unteren Linie der Bänder.
param_styleBBB_name=Stil der Bänderlinien
param_styleBBB_description=Der Stil der oberen und unteren Linie der Bänder.
param_HideA_name=Durchschnittslinie umhüllen
param_HideA_description=Bestimmt ob die BB Durchschnittslinie ausgeblendet ist.
param_clrBBA_name=Farbe der Durchschnittswertzeile
param_clrBBA_description=Die Farbe der Durchschnittswertzeile.
param_widthBBA_name=Durschnittliche Linienbreite
param_widthBBA_description=Die Breite von einer durchschnittlichen Linien eines Bandes
param_styleBBA_name=Durschnittlicher Linienstil
param_styleBBA_description=Der Stil von einer durchschnittlichen Linien eines Bandes

[esp]
codepage=1252
name=Banda Bollinger
description=Provee una definición relativa de alto y bajo basado en desviaciones estándar y un promedio móvil simple
param_N_name=Número de periodos
param_N_description=El número de periodos
param_Dev_name=Número de desviaciones estándar
param_Dev_description=El número de desviaciones estándar
param_clrBBBand_name=Color de las líneas de las bandas
param_clrBBBand_description=El color de las líneas superiores e inferiores de la banda.
param_widthBBB_name=Amplitud de las líneas de la banda
param_widthBBB_description=Amplitud de las líneas superiores e inferiores de la banda.
param_styleBBB_name=Estilo de las líneas de la banda
param_styleBBB_description=Estilo de las lines superiores e inferiores de la banda.
param_HideA_name=Ocultar la línea promedio
param_HideA_description=Define si la línea del promedio BB esta oculto.
param_clrBBA_name=Color de la línea de promedio
param_clrBBA_description=El color de la línea de promedio de la banda.
param_widthBBA_name=Amplitud de la línea promedio
param_widthBBA_description=Amplitud de la línea de promedio de la banda.
param_styleBBA_name=Estilo de la línea promedio
param_styleBBA_description=Estilo de la línea de promedio de la banda.

[fra]
codepage=1252
name=Bandes de Bollinger
description=Fournit une définition relative de Haut et de Bas, basée sur des écart-types et une moyenne mobile simple.
param_N_name=Nombre de périodes
param_N_description=Le nombre de périodes
param_Dev_name=Nombre d'écart-types
param_Dev_description=Le nombre d'écart-types
param_clrBBBand_name=Couleur des lignes de Bande
param_clrBBBand_description=La couleur des lignes supérieure et inférieure de la bande
param_widthBBB_name=Largeurs des bandes
param_widthBBB_description=La largeur des lignes supérieure et inférieure de la bande
param_styleBBB_name=Style des lignes de la bande
param_styleBBB_description=Le style des lignes supérieure et inférieure de la bande
param_HideA_name=Masquer la ligne moyenne
param_HideA_description=Définit si la ligne moyenne de BB est masquée
param_clrBBA_name=Couleur de la ligne de moyenne
param_clrBBA_description=Indique la couleur de la ligne de moyenne.
param_widthBBA_name=Largeur de la ligne moyenne
param_widthBBA_description=La largeur de la ligne moyenne de la bande
param_styleBBA_name=Style de la ligne moyenne
param_styleBBA_description=Le style de la ligne moyenne de la bande

[jpn]
codepage=932
name=ボリンジャーバンド
description=逸脱数と単純移動平均に基づいた相対的な定義を提供します
param_N_name=期間数
param_N_description=期間数
param_Dev_name=逸脱数
param_Dev_description=逸脱数
param_clrBBBand_name=バンドラインの色
param_clrBBBand_description=上下バンドラインの色
param_widthBBB_name=バンドラインの幅
param_widthBBB_description=上下バンドラインの幅を設定します
param_styleBBB_name=バンドラインのスタイル
param_styleBBB_description=上下バンドラインのスタイルを設定します
param_HideA_name=平均線を隠す
param_HideA_description=BB平均線を隠すか決定します。
param_clrBBA_name=平均線の色
param_clrBBA_description=平均線の色
param_widthBBA_name=平均線の幅
param_widthBBA_description=平均線の幅を設定します
param_styleBBA_name=平均線のスタイル
param_styleBBA_description=平均線のスタイルを設定します

[kor]
codepage=949
name=볼린저밴드
description=표준 편차 와 간단한 이동평균에 대한 높음 와 낮음에 관계있는 정의 제공
param_N_name=기간의 개수
param_N_description=기간의 개수
param_Dev_name=표준 편차의 개수
param_Dev_description=표준 편차의 개수
param_clrBBBand_name=
param_clrBBBand_description=
param_widthBBB_name=
param_widthBBB_description=
param_styleBBB_name=
param_styleBBB_description=
param_HideA_name=
param_HideA_description=
param_clrBBA_name=평균선 색상
param_clrBBA_description=밴드의 평균선 색상
param_widthBBA_name=
param_widthBBA_description=
param_styleBBA_name=
param_styleBBA_description=

[rus]
codepage=1251
name=Полосы Боллинджера
description=Определяет относительные максимум и минимум на основе стандартных отклонений и простого скользящего среднего.
param_N_name=Количество периодов
param_N_description=Количество периодов.
param_Dev_name=Количество стандартных отклонений
param_Dev_description=Количество стандартных отклонений.
param_clrBBBand_name=Цвет линий ленты
param_clrBBBand_description=Цвет верхней и нижней линий ленты.
param_widthBBB_name=Ширина линий ленты
param_widthBBB_description=Ширина верхней и нижней линий ленты.
param_styleBBB_name=Стиль линий ленты
param_styleBBB_description=Стиль верхней и нижней линий ленты.
param_HideA_name=Скрыть среднюю линию
param_HideA_description=Определяет, будет ли скрыта средняя линия BB.
param_clrBBA_name=Цвет средней линии
param_clrBBA_description=Цвет средней линии.
param_widthBBA_name=Ширина средней линии
param_widthBBA_description=Ширина средней линии.
param_styleBBA_name=Стиль средней линии
param_styleBBA_description=Стиль средней линии.

[tur]
codepage=1254
name=Bollinger Bandı
description=Standart sapma ve basit hareketli ortalama ile düşük ve yüksek seviyeleri göreli olarak belirtir.
param_N_name=Periyot sayısı
param_N_description=Periyot sayısı.
param_Dev_name=Standart sapmaların sayısı
param_Dev_description=Standart sapmaların sayısı.
param_clrBBBand_name=Bant çizgileri rengi
param_clrBBBand_description=Alt ve üst bant çizgilerinin rengi
param_widthBBB_name=Bant çizgilerinin kalınlığı
param_widthBBB_description=Bandın alt ve üst çizgilerinin kalınlığı.
param_styleBBB_name=Bant çizgilerinin biçimi
param_styleBBB_description=Bandın alt ve üst çizgilerinin biçimi.
param_HideA_name=Ortalama çizgisini gizle
param_HideA_description=BB ortalama çizgisinin gizlenip gizlenmeyeceğini belirtir.
param_clrBBA_name=Ortalama çizgisinin rengi
param_clrBBA_description=Bandın ortalama çizgisinin rengi.
param_widthBBA_name=Ortalama çizgisinin kalınlığı
param_widthBBA_description=Bandın ortalama çizgisinin kalınlığı.
param_styleBBA_name=Ortalama çizgisinin biçimi
param_styleBBA_description=Bandın ortalama çizgisinin biçimi.

[ita]
codepage=1252
name=Bollinger Band
description=Fornisce una definizione relativa di high e low basata su standard deviations e una simple moving average
param_N_name=Numero di periodi
param_N_description=Il numero di periodi
param_Dev_name=Numero di standard deviation
param_Dev_description=Il numero di standard deviation
param_clrBBBand_name=Colore delle Band lines
param_clrBBBand_description=Il colore delle linea superiore ed inferiore della banda
param_widthBBB_name=Spessore delle bande
param_widthBBB_description=Lo spessore della banda superiore e inferiore
param_styleBBB_name=Stile delle bande
param_styleBBB_description=Lo stile delle banda superiore/inferiore
param_HideA_name=Nascondi average line
param_HideA_description=Definisce se la media di BB è nascosta
param_clrBBA_name=Il colore della linea della media
param_clrBBA_description=Il colore della linea media della banda.
param_widthBBA_name=Spessore della linea della media
param_widthBBA_description=Lo spessore della linea della media della banda
param_styleBBA_name=Stile della linea della media
param_styleBBA_description=Lo stile della linea della media della banda

[heb]
codepage=1255
name=רצועת בולינג'ר
description=מספר אומדן של גבולות טווח המחיר על בסיס חישוב סטיות תקן וממוצעים נעים.
param_N_name=מספר תקופות
param_N_description=מספר התקופות.
param_Dev_name=מספר סטיות התקן
param_Dev_description=מספר סטיות התקן.
param_clrBBBand_name=צבע קווי הרצועות
param_clrBBBand_description=צבע של הרצועות העליונות והתחתונות
param_widthBBB_name=רוחב קו
param_widthBBB_description=רוחב קו הרצועות העליונות והתחתונות
param_styleBBB_name=סוג קו
param_styleBBB_description=סוג קו הרצועות העליונות והתחתונות
param_HideA_name=הסתר קו ממוצע
param_HideA_description=מגדיר האם קו ממוצעי BB יוסתר
param_clrBBA_name=צבע קו הממוצע
param_clrBBA_description=צבע הקו של רצועת הממוצע.
param_widthBBA_name=רוחב קו
param_widthBBA_description=רוחב קו רצועת הממוצע.
param_styleBBA_name=סוג קו
param_styleBBA_description=סוג קו רצועת הממוצע.

[pol]
codepage=1250
name=Wstęga Bollingera
description=Definicja możliwego zakresu ruchu w górę i w dół oparta na odchyleniu standardowym i zwykłej średniej kroczącej
param_N_name=Liczba okresów
param_N_description=Liczba okresów
param_Dev_name=Krotność odchyleń standardowych
param_Dev_description=Krotność odchyleń standardowych
param_clrBBBand_name=Kolor linii wstęgi
param_clrBBBand_description=Kolor dolnej i górnej linii wstęgi.
param_widthBBB_name=Grubość linii wstęgi
param_widthBBB_description=Grubość dolnej i górnej linii wstęgi.
param_styleBBB_name=Styl linii wstęgi
param_styleBBB_description=Styl dolnej i górnej linii wstęgi.
param_HideA_name=Ukryj linię średniej kroczącej
param_HideA_description=Określa, czy średnia krocząca wstęgi Bollingera jest ukryta.
param_clrBBA_name=Kolor linii średniej
param_clrBBA_description=Kolor linii średniej kroczącej wstęgi.
param_widthBBA_name=Grubość linii średniej
param_widthBBA_description=Grubość linii średniej kroczącej wstęgi.
param_styleBBA_name=Styl linii średniej
param_styleBBA_description=Styl linii średniej kroczącej wstęgi.

[cze]
codepage=1250
name=Bollingerovy pásy
description=Poskytuje relativní definici maxim a minim na principu standardních odchylek a jednoduchého klouzavého průměru.
param_N_name=Počet period
param_N_description=Počet period.
param_Dev_name=Počet standardních odchylek
param_Dev_description=Počet standardních odchylek.
param_clrBBBand_name=Barva Bollingerových pásů
param_clrBBBand_description=Barva spodních a horních Bollingerových pásů
param_widthBBB_name=Šíře Bollingerových pásů
param_widthBBB_description=Šíře horních a spodních linek Bollingerových pásů.
param_styleBBB_name=Styl Bollingerových pásů
param_styleBBB_description=Styl horních a spodních linek Bollingerových pásů.
param_HideA_name=Skrýt střední linku
param_HideA_description=Definovat, zda je zobrazena, nebo skryta střední linka Bollingerových pásů
param_clrBBA_name=Barva linky průměru.
param_clrBBA_description=Barva průměrné linky pro skupinu.
param_widthBBA_name=Šíře průměrné linky
param_widthBBA_description=Šíře průměrné linky pro skupinu.
param_styleBBA_name=Styl průměrné linky
param_styleBBA_description=Styl průměrné linky pro skupinu.

[por]
codepage=1252
name=Banda Bollinger
description=Gera uma definição relativa de alto e baixo baseado em desviações standard e uma média móvel simples
param_N_name=Número de períodos
param_N_description=O número de períodos
param_Dev_name=Número de desviações standard
param_Dev_description=O número de desviações standard
param_clrBBBand_name=Cor das linhas de banda
param_clrBBBand_description=A cor das linhas superiores e inferiores da banda.
param_widthBBB_name=Largura das linhas de banda.
param_widthBBB_description=A largura das linhas superiores e inferiores da banda.
param_styleBBB_name=Estilo das linhas de banda
param_styleBBB_description=O estilo das linhas superiores e inferiores da banda
param_HideA_name=Esconder linha de média
param_HideA_description=Define se a linha de média da BB está escondida.
param_clrBBA_name=Cor da linha de média.
param_clrBBA_description=A cor da linha de média da banda.
param_widthBBA_name=Largura da linha de média
param_widthBBA_description=A largura da linha de média da banda.
param_styleBBA_name=Estilo da linha de média
param_styleBBA_description=O estilo da linha de média da banda.

[gre]
codepage=1253
name=Bollinger Band
description=Παρέχει ένα σχετικό ορισμό του ανώτερου και του κατώτερου ορίου βάσει τυπικών αποκλίσεων και έναν απλό κινητό μέσο όρο.
param_N_name=Αριθμός περιόδων
param_N_description=Ο αριθμός των περιόδων.
param_Dev_name=Αριθμός τυπικών αποκλίσεων
param_Dev_description=Ο αριθμός των τυπικών αποκλίσεων.
param_clrBBBand_name=Χρώμα των Bollinger Bands
param_clrBBBand_description=Το χρώμα της άνω και κάτω λωρίδας
param_widthBBB_name=Πάχος γραμμών των Βollinger Bands
param_widthBBB_description=Το πάχος του επάνω και του κάτω Βollinger Bands.
param_styleBBB_name=Στυλ Bollinger Bands
param_styleBBB_description=Το στυλ της επάνω και της κάτω γραμμής των Βollinger Bands.
param_HideA_name=Απόκρυψη μέσης γραμμής
param_HideA_description=Καθορίζει εάν η μέση γραμμή Bollinger θα εμφανίζεται ή όχι
param_clrBBA_name=Το χρώμα της μέσης γραμμής
param_clrBBA_description=Το χρώμα της μέσης γραμμής των λωρίδων
param_widthBBA_name=Πάχος γραμμής μέσου όρου
param_widthBBA_description=Το πάχος της γραμμής του μέσου όρου των Bollinger Bands
param_styleBBA_name=Στυλ γραμμής μέσου όρου
param_styleBBA_description=Το στυλ της γραμμής του μέσου όρου των Bollinger Bands

