default=enu
[enu]
codepage=1252
name=Chaikin Money Flow
description=Helps to determine whether the instrument is under accumulation or distribution by comparing the closing price to the high-low range of the trading session.
param_N_name=Number of periods
param_N_description=The number of periods.
param_ADMethod_name=A/D calculation mode
param_ADMethod_description=The mode of Accumulation/Distribution calculation.
string_alternative_ADMethod_Classic=Classic
string_alternative_ADMethod_ClassicIncremental=Classic Incremental
string_alternative_ADMethod_TradeStation=Trade Station
param_Display_name=Display mode
param_Display_description=Defines whether the indicator is displayed as a histogram or as a line.
string_alternative_Display_Line=Line
string_alternative_Display_Histogram=Histogram
param_clrCMF_name=Line color
param_clrCMF_description=The color of the Chaikin Money Flow line.
param_widthCMF_name=Line width
param_widthCMF_description=The width of the Chaikin Money Flow line.
param_styleCMF_name=Line style
param_styleCMF_description=The style of the Chaikin Money Flow line.
param_clrHU_name=Up histogram color
param_clrHU_description=The color of the up histogram.
param_clrHD_name=Down histogram color
param_clrHD_description=The color of the down histogram.
assert_hasVolume=The source must have volume.
assert_ADinstalled=The A/D indicator must be installed.

[rus]
codepage=1251
name=Денежный поток Чайкина
description=Помогает определить, накапливается или распределяется инструмент, сравнивая цену закрытия с диапазоном между максимумом и минимумом торговой сессии.
param_N_name=Количество периодов
param_N_description=Количество периодов.
param_ADMethod_name=Метод расчета накопления/распределения
param_ADMethod_description=Метод расчета накопления/распределения.
string_alternative_ADMethod_Classic=Классический
string_alternative_ADMethod_ClassicIncremental=Классический с приращением
string_alternative_ADMethod_TradeStation=Торговая станция
param_Display_name=Отображение
param_Display_description=Определяет, как будет отображаться индикатор - как гистограмма или как линия.
string_alternative_Display_Line=Линия
string_alternative_Display_Histogram=Гистограмма
param_clrCMF_name=Цвет линии
param_clrCMF_description=Цвет линии денежного потока Чайкина.
param_widthCMF_name=Ширина линии
param_widthCMF_description=Ширина линии денежного потока Чайкина.
param_styleCMF_name=Стиль линии
param_styleCMF_description=Стиль линии денежного потока Чайкина.
param_clrHU_name=Цвет гистограммы вверх
param_clrHU_description=Цвет гистограммы вверх.
param_clrHD_name=Цвет гистограммы вниз
param_clrHD_description=Цвет гистограммы вниз.
assert_hasVolume=Источник данных должен содержать объем.
assert_ADinstalled=Должен быть установлен индикатор накопления/распределения.

[ara]
codepage=1256
name=مؤشر Chaikin Money Flow
description=يساعد على تحديد ما إذا كان الرمز تحت التراكم أو التوزيع عن طريق مقارنة سعر الإقفال لمجموعة الأسعار العالية - المنخفضة لجلسة التداول.
param_N_name=عدد الفترات
param_N_description=عدد الفترات.
param_ADMethod_name=طريقة حساب التراكم/التوزيع A/D
param_ADMethod_description=طريقة حساب التراكم/التوزيع
string_alternative_ADMethod_Classic=الكلاسيكي
string_alternative_ADMethod_ClassicIncremental=الكلاسي التراكمي
string_alternative_ADMethod_TradeStation=محطة التداول
param_Display_name=طريقة العرض
param_Display_description=يحدد ما إذا كان سيتم عرض المؤشر على شكل رسم بياني أو على شكل خط.
string_alternative_Display_Line=خط
string_alternative_Display_Histogram=الرسم البياني
param_clrCMF_name=لون الخط
param_clrCMF_description=لون الخط لمؤشر Chaikin Money Flow
param_widthCMF_name=عرض الخط
param_widthCMF_description=عرض الخط لمؤشر Chaikin Money Flow
param_styleCMF_name=نوع الخط
param_styleCMF_description=نوع الخط لمؤشر Chaikin Money Flow
param_clrHU_name=لون الرسم البياني الأعلى
param_clrHU_description=لون الرسم البياني الأعلى
param_clrHD_name=لون الرسم البياني الأدنى
param_clrHD_description=لون الرسم البياني الأدنى
assert_hasVolume=يجب أن يتوفر حجم للمصدر.
assert_ADinstalled=يجب تنزيل مؤشر التراكم/التوزيع (A/D)

[chs]
codepage=936
name=资金流向指标
description=通过收盘价格与最高最低价格区间的比较，来判定该商品处于强势或者弱势
param_N_name=时期数目
param_N_description=时期数目
param_ADMethod_name=A/D计算模式
param_ADMethod_description=累积/分配计算模式
string_alternative_ADMethod_Classic=典型
string_alternative_ADMethod_ClassicIncremental=典型增量
string_alternative_ADMethod_TradeStation=交易平台
param_Display_name=显示模式
param_Display_description=定义指标是否以柱状图或线显示
string_alternative_Display_Line=线
string_alternative_Display_Histogram=柱状图
param_clrCMF_name=线颜色
param_clrCMF_description=资金流向指标线颜色
param_widthCMF_name=线宽度
param_widthCMF_description=资金流向指标线宽度
param_styleCMF_name=线样式
param_styleCMF_description=资金流向指标线样式
param_clrHU_name=上升柱颜色
param_clrHU_description=上升柱颜色
param_clrHD_name=下跌柱颜色
param_clrHD_description=下跌柱颜色
assert_hasVolume=来源必须要有价格量
assert_ADinstalled=必须安装A/D指标

[cht]
codepage=950
name=資金流向指標
description=通過收盤價格與最高最低價格區間的比較，來判定該商品處於強勢或者弱勢
param_N_name=時期數目
param_N_description=時期數目
param_ADMethod_name=A/D計算模式
param_ADMethod_description=累積/分配計算模式
string_alternative_ADMethod_Classic=典型
string_alternative_ADMethod_ClassicIncremental=典型增量
string_alternative_ADMethod_TradeStation=交易平台
param_Display_name=顯示模式
param_Display_description=定義指標是否以柱狀圖或線顯示
string_alternative_Display_Line=線
string_alternative_Display_Histogram=柱狀圖
param_clrCMF_name=線顏色
param_clrCMF_description=資金流向指標線顏色
param_widthCMF_name=線寬度
param_widthCMF_description=資金流向指標線寬度
param_styleCMF_name=線樣式
param_styleCMF_description=資金流向指標線樣式
param_clrHU_name=上升柱顏色
param_clrHU_description=上升柱顏色
param_clrHD_name=下跌柱顏色
param_clrHD_description=下跌柱顏色
assert_hasVolume=來源必須要有價格量
assert_ADinstalled=必須安裝A/D指標

[cze]
codepage=1250
name=Chaikin Money Flow
description=Pomáhá určit, zda je daný instrument pod tlakem prodejců, či kupců s pomocí poměřování závěrečné ceny vůči min/max dané obchodní seance.
param_N_name=Počet period
param_N_description=Počet period.
param_ADMethod_name=Způsob výpočtu A/D
param_ADMethod_description=Způsob výpočtu A/D.
string_alternative_ADMethod_Classic=Klasický
string_alternative_ADMethod_ClassicIncremental=Klasický přírůstový
string_alternative_ADMethod_TradeStation=Trade Station
param_Display_name=Styl zobrazení
param_Display_description=Určuje, zda je indikátor zobrazován jako histogram nebo jako linka.
string_alternative_Display_Line=Linka
string_alternative_Display_Histogram=Histogram
param_clrCMF_name=Barva linky
param_clrCMF_description=Barva linky Chaikin Money Flow.
param_widthCMF_name=Šíře linky
param_widthCMF_description=Šíře linky Chaikin Money Flow
param_styleCMF_name=Styl linky
param_styleCMF_description=Styl linky Chaikin Money Flow.
param_clrHU_name=Barva rostoucího histogramu
param_clrHU_description=Barva rostoucího histogramu.
param_clrHD_name=Barva klesajícího histogramu.
param_clrHD_description=Barva klesajícího histogramu.
assert_hasVolume=Zdrojová data neobsahují objem
assert_ADinstalled=Indikátor A/D musí být nainstalován

[deu]
codepage=1252
name=Chaikin Geldfluss
description=Hilft zu bestimmen, ob das Instrument akkumuliert oder abgestoßen wird indem der Schlusspreis mit der Hoch-Tief Range der Trading Session verglichen wird.
param_N_name=Anzahl der Perioden
param_N_description=Die Anzahl der Perioden
param_ADMethod_name=A/D Kalkulationsmodus
param_ADMethod_description=Der Modus der Akkumulation/Distribution Berechnung
string_alternative_ADMethod_Classic=Klassisch
string_alternative_ADMethod_ClassicIncremental=Klassisch inkrementell
string_alternative_ADMethod_TradeStation=Handelsstation
param_Display_name=Anzeigemodus
param_Display_description=Definiert, ob der Indikator als Histogramm oder als Linie angezeigt werden soll.
string_alternative_Display_Line=Linie
string_alternative_Display_Histogram=Histogramm
param_clrCMF_name=Linienfarbe
param_clrCMF_description=Die Farbe der Chaikin Money Flow Linie
param_widthCMF_name=Linienbreite
param_widthCMF_description=Die Breite der Chaikin Money Flow Linie
param_styleCMF_name=Linienstil
param_styleCMF_description=Der Stil der Chaikin Money Flow Linie
param_clrHU_name=Aufwärts-Histogramm Farbe
param_clrHU_description=Die Farbe des Aufwärts-Histogramms
param_clrHD_name=Abwärts-Histogramm
param_clrHD_description=Die Farbe des Abwärts-Historgramm
assert_hasVolume=Die Quelle muss Volumen haben
assert_ADinstalled=Der A/D Indikator muss installiert sein.

[fra]
codepage=1252
name=Flux de monnaie Chaikin
description=Aide à déterminer si l'instrument est en accumulation ou distribution en comparant le prix de clôture aux plus haut-bas du canal de la session de trading
param_N_name=Nombre de périodes
param_N_description=Le nombre de périodes
param_ADMethod_name=Mode de calcul A/D
param_ADMethod_description=Le mode de calcul de Accumulation/Distribution
string_alternative_ADMethod_Classic=Classique
string_alternative_ADMethod_ClassicIncremental=Incrémentation classique
string_alternative_ADMethod_TradeStation=Station de trading
param_Display_name=Mode d'affichage
param_Display_description=Définit si l'indicateur est affiché en histogramme ou en ligne
string_alternative_Display_Line=Ligne
string_alternative_Display_Histogram=Histogramme
param_clrCMF_name=Couleur de la ligne
param_clrCMF_description=La couleur de la ligne de flux de monnaie Chaikin
param_widthCMF_name=Largeur de la ligne
param_widthCMF_description=La largeur de la ligne de flux de monnaie Chaikin
param_styleCMF_name=Style de la ligne
param_styleCMF_description=Le style de la ligne de flux de monnaie Chaikin
param_clrHU_name=Couleur d'un histogramme haussier
param_clrHU_description=La couleur d'un histogramme haussier
param_clrHD_name=Couleur d'un histogramme baissier
param_clrHD_description=La couleur d'un histogramme baissier
assert_hasVolume=La source doit avoir un volume
assert_ADinstalled=L'indicateur A/D doit être installé

[gre]
codepage=1253
name=Chaikin Money Flow
description=Βοηθάει στο να καθορίζει εάν το προϊόν είναι σε Accumulation/Distribution, συγκρίνοντας την τιμή κλεισίματος με το υψηλό-χαμηλό εύρος της συνεδρίασης των συναλλαγών.
param_N_name=Αριθμός περιόδων
param_N_description=Ο αριθμός των περιόδων
param_ADMethod_name=Μέθοδος Υπολογισμού A/D
param_ADMethod_description=H μέθοδος υπολογισμού του Accumulation/Distribution.
string_alternative_ADMethod_Classic=Classic
string_alternative_ADMethod_ClassicIncremental=Classic Incremental
string_alternative_ADMethod_TradeStation=Trade Station
param_Display_name=Τρόπος εμφάνισης
param_Display_description=Καθορίζει αν ο δείκτης θα εμφανίζεται σαν ιστόγραμμα ή σαν γραμμή.
string_alternative_Display_Line=Γραμμή
string_alternative_Display_Histogram=Ιστόγραμμα
param_clrCMF_name=Χρώμα γραμμής
param_clrCMF_description=Το χρώμα της γραμμής του Chaikin Money Flow.
param_widthCMF_name=Πάχος γραμμής
param_widthCMF_description=Το πάχος της γραμμής του Chaikin Money Flow.
param_styleCMF_name=Στυλ γραμμής
param_styleCMF_description=Το στυλ της γραμμής του Chaikin Money Flow.
param_clrHU_name=Χρώμα ανοδικού ιστογράμματος
param_clrHU_description=Το χρώμα του πάνω ιστογράμματος.
param_clrHD_name=Χρώμα κάτω ιστογράμματος
param_clrHD_description=Το χρώμα του κάτω ιστογράμματος.
assert_hasVolume=Η πηγή πρέπει να έχει όγκο.
assert_ADinstalled=Πρέπει να εγκατασταθεί ο δείκτης A/D.

[heb]
codepage=1255
name=זרימת הכסף של צ'לקין
description=מסייע להגדיר האם הנכס נתון לצבירה או לתפוצה על ידי השוואת מחיר הנעילה לגבול העליון והתחתון של יום המסחר.
param_N_name=מספר תקופות
param_N_description=מספר התקופות,
param_ADMethod_name=מצב חישוב צ\ת
param_ADMethod_description=מצב חישוב הצבירה או התפוצה.
string_alternative_ADMethod_Classic=קלאסי
string_alternative_ADMethod_ClassicIncremental=הוספה קלאסית
string_alternative_ADMethod_TradeStation=תחנת מסחר
param_Display_name=מצב תצוגה
param_Display_description=מגדיר האם האינדיקטור יוצג כהיסטורגמה או כקן.
string_alternative_Display_Line=קו
string_alternative_Display_Histogram=היסטוגרמה
param_clrCMF_name=צבע קו
param_clrCMF_description=צבע קו זרימת הכסף של צ'לקין
param_widthCMF_name=רוחב קו
param_widthCMF_description=רוחב קו זרימת הכסף של צ'לקין
param_styleCMF_name=סגנון קו
param_styleCMF_description=סגנון קו זרימת הכסף של צ'לנקין
param_clrHU_name=צבע היסטורגמה עולה
param_clrHU_description=הצבע של ההיסטוגרמה העולה.
param_clrHD_name=צבע היסטוגרמה היורדת
param_clrHD_description=צבע ההיסטורגמה היורדת.
assert_hasVolume=המקור חייב להיות בעל נפח.
assert_ADinstalled=יש להתקין את האינדיקטור צ\ת

[ita]
codepage=1252
name=Chaikin Money Flow
description=Aiuta a determinare se lo strumento è all’interno di accumulazione o distribuzione comparando il prezzo di chiusura al range high-low della sessione di trading
param_N_name=Numero di periodi
param_N_description=Il numero dei periodi
param_ADMethod_name=Metodo calcolo A/D
param_ADMethod_description=Il metodo di calcolo di Accumulazione/Distribuzione
string_alternative_ADMethod_Classic=Classico
string_alternative_ADMethod_ClassicIncremental=Classico incrementale
string_alternative_ADMethod_TradeStation=Trade Station
param_Display_name=Modalità visualizzazione
param_Display_description=Definisce se l'indicatore è mostrato come istogramma o linea
string_alternative_Display_Line=Linea
string_alternative_Display_Histogram=Istogramma
param_clrCMF_name=Colore linea
param_clrCMF_description=Il colore della linea Chaikin Money Flow
param_widthCMF_name=Spessore kinea
param_widthCMF_description=Lo spessore della linea Chaikin Money Flow
param_styleCMF_name=Stile linea
param_styleCMF_description=Lo stile della linea Chaikin Money Flow
param_clrHU_name=Colore istogramma ascendente
param_clrHU_description=Il colore dell'istogramma ascendente
param_clrHD_name=Colore istogramma discendente
param_clrHD_description=Il colore dell'istogramma discendente
assert_hasVolume=La sorgente deve avere un volume
assert_ADinstalled=L'indicatore A/D deve essere installato

[jpn]
codepage=932
name=Chaikin Money Flow
description=セッションのハイローと終値を比較してその銘柄が売り勢力下にあるか、買い勢力下にあるかを判断する
param_N_name=期間の数
param_N_description=期間の数
param_ADMethod_name=A/D 計算モード
param_ADMethod_description=Accumulation/Distribution 計算モード
string_alternative_ADMethod_Classic=Classic
string_alternative_ADMethod_ClassicIncremental=Classic Incremental
string_alternative_ADMethod_TradeStation=Trade Station
param_Display_name=表示　モード
param_Display_description=インディケータをヒストグラムかラインのどちらで表示するか指定する
string_alternative_Display_Line=ライン
string_alternative_Display_Histogram=ヒストグラム
param_clrCMF_name=ライン色
param_clrCMF_description=Chaikin Money Flow ライン色
param_widthCMF_name=ラインの幅
param_widthCMF_description=Chaikin Money Flow ラインの幅
param_styleCMF_name=ラインのスタイル
param_styleCMF_description=Chaikin Money Flow ラインのスタイル
param_clrHU_name=上昇ヒストグラムの色
param_clrHU_description=上昇ヒストグラムの色
param_clrHD_name=下降ヒストグラムの色
param_clrHD_description=下降ヒストグラムの色
assert_hasVolume=ボリュームが伴わないと無効です
assert_ADinstalled=The A/D indicatorがインストールされていなくてはなりません

[tur]
codepage=1254
name=Chaikin Para Akım Göstergesi
description=Kapanış fiyatını seansın en yüksek- en düşük seviyeleri ile karşılaştırarak enstrümanının alındığını mı yoksa dağıtıldığını mı belirlemeye yardımcı olur.
param_N_name=Periyot sayısı
param_N_description=Periyotların sayısı.
param_ADMethod_name=A/D hesaplama modu
param_ADMethod_description=Alım/Dağıtım hesaplama yöntemi.
string_alternative_ADMethod_Classic=Klasik
string_alternative_ADMethod_ClassicIncremental=Klasik Artan
string_alternative_ADMethod_TradeStation=Trading Station
param_Display_name=Görüntüleme modu
param_Display_description=Göstergenin histogram olarak mı çizgi olarak mı gösterileceğini belirtir.
string_alternative_Display_Line=Çizgi
string_alternative_Display_Histogram=Histogram
param_clrCMF_name=Çizgi rengi
param_clrCMF_description=Chaikin Para Akım Göstergesi çizgi rengi.
param_widthCMF_name=Çizgi kalınlığı
param_widthCMF_description=Chaikin Para Akım Göstergesi çizgi kalınlığı.
param_styleCMF_name=Çizgi biçimi
param_styleCMF_description=Chaikin Para Akım Göstergesi çizgi biçimi.
param_clrHU_name=Üst histogram rengi
param_clrHU_description=Üst histogramın rengi.
param_clrHD_name=Alt histogram rengi
param_clrHD_description=Alt histogramın rengi.
assert_hasVolume=Kaynak hacim olmalı.
assert_ADinstalled=A/D göstergesi yüklenmeli.

[pol]
codepage=1250
name=Chaikin Money Flow
description=Pomaga w określeniu czy instrument podlega akumulacji bądź dystrybucji poprzez porównanie ceny zamknięcia do high-low range sesji giełdowej.
param_N_name=Liczba okresów
param_N_description=Liczba okresów.
param_ADMethod_name=Tryb kalkulacji A/D
param_ADMethod_description=Tryb kalkulacji Akumulacja/Dystrybucja.
string_alternative_ADMethod_Classic=Klasyczny
string_alternative_ADMethod_ClassicIncremental=Klasyczny Przyrostowy
string_alternative_ADMethod_TradeStation=Platforma Transakcyjna
param_Display_name=Tryb wyświetlania
param_Display_description=Określa czy wskaźnik jest wyświetlany w histogramy czy jako linia.
string_alternative_Display_Line=Linia
string_alternative_Display_Histogram=Histogram
param_clrCMF_name=Kolor lini
param_clrCMF_description=Kolor lini Chaikin Money Flow.
param_widthCMF_name=Szerokość lini
param_widthCMF_description=Szerokość lini Chaikin Money Flow.
param_styleCMF_name=Styl lini
param_styleCMF_description=Sty lini Chaikin Money Flow
param_clrHU_name=Kolor histogramu poprawy
param_clrHU_description=Kolor histogramu poprawy
param_clrHD_name=Kolor histogramu pogorszenia
param_clrHD_description=Kolor histogramu poprawy
assert_hasVolume=Źródło musi posiadać wolumen.
assert_ADinstalled=Wskaźnik A/D musi być zainstalowany.

[por]
codepage=1252
name=Fluxo Monetário Chaikin
description=Ajuda a determinar se o instrumento está sob acumulação ou distribuição ao comparar o preço de fecho com o intervalo máximo-mínimo da sessão de operações.
param_N_name=Número de períodos
param_N_description=O número de períodos.
param_ADMethod_name=Modo de cálculo A/D
param_ADMethod_description=O modo de cálculo Acumulação/Distribuição.
string_alternative_ADMethod_Classic=Clássico
string_alternative_ADMethod_ClassicIncremental=Clássico Incremental
string_alternative_ADMethod_TradeStation=Estação de Operações
param_Display_name=Modo de apresentação
param_Display_description=Define se o indicador é apresentado como um histograma ou como uma linha.
string_alternative_Display_Line=Linha
string_alternative_Display_Histogram=Histograma
param_clrCMF_name=Cor da linha
param_clrCMF_description=A cor da linha do Fluxo Monetário Chaikin.
param_widthCMF_name=Largura de linha
param_widthCMF_description=A largura da linha do Fluxo Monetário Chaikin.
param_styleCMF_name=Estilo de linha
param_styleCMF_description=O estilo da linha do Fluxo Monetário Chaikin.
param_clrHU_name=Cor do histograma ascendente
param_clrHU_description=A cor do histograma ascendente.
param_clrHD_name=Cor do histograma descendente
param_clrHD_description=A cor do histograma descendente.
assert_hasVolume=A origem tem de ter um volume.
assert_ADinstalled=O indicador A/D tem de ser instalado.

[esp]
codepage=1252
name=Flujo de dinero Chaikin
description=Ayuda a determinar si el instrumento esta por debajo de acumulación o distribución, al compar el precio de cierre, el rango superior-inferior de la sesión de operación
param_N_name=Numero de periodos
param_N_description=El numero de periodos
param_ADMethod_name=Modo de calculo A/D
param_ADMethod_description=El Modo de calculo de Acumulación/Distribución
string_alternative_ADMethod_Classic=Clásico
string_alternative_ADMethod_ClassicIncremental=Incremento Clásico
string_alternative_ADMethod_TradeStation=Estación de Operaciones
param_Display_name=Modo de presentación
param_Display_description=Define si el indicador se muestra como histograma o como una línea.
string_alternative_Display_Line=Línea
string_alternative_Display_Histogram=Histograma
param_clrCMF_name=Color de la línea
param_clrCMF_description=El color de la línea Flujo de dinero Chaikin
param_widthCMF_name=Amplitud de la línea
param_widthCMF_description=La amplitud de la línea Flujo de dinero Chaikin
param_styleCMF_name=Estilo de la línea
param_styleCMF_description=El estilo de la línea Flujo de dinero Chaikin
param_clrHU_name=Color alto del histograma
param_clrHU_description=El color alto del histograma
param_clrHD_name=Color bajo del histograma
param_clrHD_description=El color bajo del histograma
assert_hasVolume=El origen debe de tener volumen
assert_ADinstalled=Debe de ser instalado el indicador A/D

