default=enu
[enu]
codepage=1252
name=Stochastic Slow
description=Shows the location of the current close relative to the high/low range over a set number of periods.
param_K_name=%K periods
param_K_description=The number of periods for %K.
param_D_name=%D periods
param_D_description=The number of periods for %D.
param_SD_name=%D slowing periods
param_SD_description=The number of periods for slow %D.
param_clrFirst_name=%K line color
param_clrFirst_description=The color of the %K line.
param_widthFirst_name=%K line width
param_widthFirst_description=The width of the %K line.
param_styleFirst_name=%K line style
param_styleFirst_description=The style of the %K line.
param_clrSecond_name=%D line color
param_clrSecond_description=The color of the %D line.
param_widthSecond_name=%D line width
param_widthSecond_description=The width of the %D line.
param_styleSecond_name=%D line style
param_styleSecond_description=The style of the %D line.
param_level_overboughtsold_width_name=Level lines width
param_level_overboughtsold_width_description=The width of the overbought/oversold levels.
param_level_overboughtsold_style_name=Level lines style
param_level_overboughtsold_style_description=The style of the overbought/oversold levels.
param_level_overboughtsold_color_name=Level lines color
param_level_overboughtsold_color_description=The color of the overbought/oversold levels.
param_level_overbought_name=Overbought level
param_level_overbought_description=The overbought level.
param_level_oversold_name=Oversold level
param_level_oversold_description=The oversold level.
error_bought_bigger_sold=The overbought level must be greater than the oversold level.

[ara]
codepage=1256
name=ستوكاستيك بطيء
description=يقارن سعر الاغلاق مع أعلى/أدنى سعر خلال فترة محددة
param_K_name=فترات الـ %K
param_K_description=عدد فترات الـ %K.
param_D_name=فترات الـ %D
param_D_description=عدد فترات الـ %D.
param_SD_name=لون خط الـ %D
param_SD_description=عدد فترات %D البطيء.
param_clrFirst_name=لون خط الـ %K
param_clrFirst_description=لون خط الـ %K.
param_widthFirst_name=عرض خط الـ %K
param_widthFirst_description=عرض خط الـ %K.
param_styleFirst_name=نوع خط الـ %K
param_styleFirst_description=نوع خط الـ %K.
param_clrSecond_name=لون خط الـ %D
param_clrSecond_description=لون خط الـ %D.
param_widthSecond_name=عرض خط الـ %D
param_widthSecond_description=عرض خط الـ %D.
param_styleSecond_name=نوع الخط الـ %D
param_styleSecond_description=نوع خط الـ %D.
param_level_overboughtsold_width_name=عرض خطوط المستوى
param_level_overboughtsold_width_description=عرض مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_style_name=نوع خطوط المستوى
param_level_overboughtsold_style_description=نوع مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_color_name=لون خطوط المستوى
param_level_overboughtsold_color_description=لون مستويات زيادة الشراء/زيادة البيع.
param_level_overbought_name=مستوى زيادة الشراء
param_level_overbought_description=مستوى زيادة الشراء.
param_level_oversold_name=مستوى زيادة البيع
param_level_oversold_description=مستوى زيادة البيع.
error_bought_bigger_sold=الثابت الخاص بزيادة الشراء يجب أن يكون أكبر من الثابت الخاص يزيادة البيع

[chs]
codepage=936
name=慢速随机指标
description=通过一系列的时期显示当前最接近的最高/最低范围的关系
param_K_name=%K时期
param_K_description=%K时期
param_D_name=%D时期
param_D_description=%D时期
param_SD_name=慢速%D时期
param_SD_description=慢速%D时期
param_clrFirst_name=%K线颜色
param_clrFirst_description=%K线颜色
param_widthFirst_name=%K线宽度
param_widthFirst_description=%K线宽度
param_styleFirst_name=%K线样式
param_styleFirst_description=%K线样式
param_clrSecond_name=%D线颜色
param_clrSecond_description=%D线颜色
param_widthSecond_name=%D线宽
param_widthSecond_description=%D线的宽度
param_styleSecond_name=%D线样式
param_styleSecond_description=%D线样式
param_level_overboughtsold_width_name=水平线宽度
param_level_overboughtsold_width_description=超买/超卖水平的线宽
param_level_overboughtsold_style_name=水平线样式
param_level_overboughtsold_style_description=超买/超卖水平的线样式
param_level_overboughtsold_color_name=水平线颜色
param_level_overboughtsold_color_description=超买/超卖水平的线颜色
param_level_overbought_name=超买水平
param_level_overbought_description=超买水平
param_level_oversold_name=超卖水平
param_level_oversold_description=超卖水平
error_bought_bigger_sold=超买水平的参数必须大于超卖水平

[cht]
codepage=950
name=慢速隨機指標
description=通過一系列的時期顯示當前最接近的最高/最低範圍的關係
param_K_name=%K時期
param_K_description=%K時期
param_D_name=%D時期
param_D_description=%D時期
param_SD_name=慢速%D時期
param_SD_description=慢速%D時期
param_clrFirst_name=%K線顏色
param_clrFirst_description=%K線顏色
param_widthFirst_name=%K線寬度
param_widthFirst_description=%K線寬度
param_styleFirst_name=%K線樣式
param_styleFirst_description=%K線樣式
param_clrSecond_name=%D線顏色
param_clrSecond_description=%D線顏色
param_widthSecond_name=%D線寬
param_widthSecond_description=%D線的寬度
param_styleSecond_name=%D線樣式
param_styleSecond_description=%D線樣式
param_level_overboughtsold_width_name=水平線寬度
param_level_overboughtsold_width_description=超買/超賣水平的線寬
param_level_overboughtsold_style_name=水平線樣式
param_level_overboughtsold_style_description=超買/超賣水平的線樣式
param_level_overboughtsold_color_name=水平線顏色
param_level_overboughtsold_color_description=超買/超賣水平的線顏色
param_level_overbought_name=超買水平
param_level_overbought_description=超買水平
param_level_oversold_name=超賣水平
param_level_oversold_description=超賣水平
error_bought_bigger_sold=超買水平的參數必須大於超賣水平

[ctt]
codepage=950
name=慢速隨機指標
description=通過一系列的時期顯示當前最接近的最高/最低範圍的關係
param_K_name=%K時期
param_K_description=%K時期
param_D_name=%D時期
param_D_description=%D時期
param_SD_name=慢速%D時期
param_SD_description=慢速%D時期
param_clrFirst_name=%K線顏色
param_clrFirst_description=%K線顏色
param_widthFirst_name=
param_widthFirst_description=
param_styleFirst_name=
param_styleFirst_description=
param_clrSecond_name=%D線顏色
param_clrSecond_description=%D線顏色
param_widthSecond_name=
param_widthSecond_description=
param_styleSecond_name=
param_styleSecond_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[deu]
codepage=1252
name=Stochastik langsam
description=Stellt bezüglich der Kursspanne die Position des aktuellen Schlusspreises über eine bestimmte Anzahl von Perioden dar.
param_K_name=Period für %K
param_K_description=Period für %K
param_D_name=Period für %D
param_D_description=Period für %D
param_SD_name=Period für langsames %D
param_SD_description=Period für langsames %D
param_clrFirst_name=Farbe der Linie %K
param_clrFirst_description=Farbe der Linie %K
param_widthFirst_name=%K Linienbreite
param_widthFirst_description=Die Breite der %K Linie
param_styleFirst_name=%K Linienstil
param_styleFirst_description=Der Stil der %K Linie
param_clrSecond_name=Farbe der Linie %D
param_clrSecond_description=Farbe der Linie %D
param_widthSecond_name=%D Linienbreite
param_widthSecond_description=Die Breite der %D Linie
param_styleSecond_name=%D Linienstil
param_styleSecond_description=Der Stil der %D Linie
param_level_overboughtsold_width_name=Level der Linienbreite
param_level_overboughtsold_width_description=Die Breite des überkauften und überverkauften Bereichs
param_level_overboughtsold_style_name=Level des Linienstils
param_level_overboughtsold_style_description=Der Stil des überkauften und überverkauften Bereichs
param_level_overboughtsold_color_name=Level der Linienfarbe
param_level_overboughtsold_color_description=Die Farbe des überkauften und überverkauften Bereichs
param_level_overbought_name=Überkauftes Level
param_level_overbought_description=Das überkaufte Level
param_level_oversold_name=Überverkauftes Level
param_level_oversold_description=Das überverkaufte Level
error_bought_bigger_sold=Der überkaufte Parameter muss größer als überverkauft sein

[esp]
codepage=1252
name=Estocástico Lento
description=Muestra el lugar del cierre actual con respecto al rango de alto/bajo sobre un número de periodos determinados.
param_K_name=Período para %K
param_K_description=El número de periodos para %K
param_D_name=Período para %D
param_D_description=El número de periodos para %D
param_SD_name=Número de periodos para %D lento
param_SD_description=El número de periodos para %D lento
param_clrFirst_name=Color de la línea %K
param_clrFirst_description=El color de la línea %K.
param_widthFirst_name=Amplitud de la línea %K
param_widthFirst_description=La amplitud de la línea %K.
param_styleFirst_name=Estilo de la línea %K
param_styleFirst_description=El estilo de la línea %K.
param_clrSecond_name=Color de la línea %D
param_clrSecond_description=El color de la línea %D.
param_widthSecond_name=Amplitud de la línea %D
param_widthSecond_description=La amplitud de la línea %D.
param_styleSecond_name=Estilo de la línea %D
param_styleSecond_description=El estilo de la línea %D.
param_level_overboughtsold_width_name=Amplitud de la línea del nivel
param_level_overboughtsold_width_description=Amplitud de los niveles de sobrecompra/sobreventa
param_level_overboughtsold_style_name=Estilo de las líneas del nivel
param_level_overboughtsold_style_description=Amplitud de los niveles de sobrecompra/sobreventa
param_level_overboughtsold_color_name=Color de la línea de niveles
param_level_overboughtsold_color_description=El color de los niveles de sobrecompra/sobreventa
param_level_overbought_name=Nivel de sobrecompra
param_level_overbought_description=el nivel de sobrecompra
param_level_oversold_name=Nivel de sobreventa
param_level_oversold_description=El nivel de sobreventa
error_bought_bigger_sold=El parámetro de sobrecompra debe de ser mayor que el parámetro de sobreventa

[fra]
codepage=1252
name=Stochastique Lent
description=Montre l'emplacement des clôtures en cours par rapport à la gamme de au Haut/bas sur le nombre de périodes.
param_K_name=Nombre de périodes pour %K
param_K_description=Le nombre de périodes pour %K.
param_D_name=Nombre de périodes pour %D
param_D_description=Le nombre de périodes pour %D.
param_SD_name=Nombre périodes pour %D lent
param_SD_description=Le nombre de périodes pour le %D lent.
param_clrFirst_name=Couleur de la ligne %K
param_clrFirst_description=La couleur de la ligne %K.
param_widthFirst_name=Largeur de la ligne %K
param_widthFirst_description=La largeur de la ligne %K
param_styleFirst_name=Style de la ligne %K
param_styleFirst_description=Le style de la ligne %K
param_clrSecond_name=Couleur de la ligne %D
param_clrSecond_description=La couleur de la ligne %D.
param_widthSecond_name=Largeur de la ligne %D
param_widthSecond_description=La largeur de la ligne %D
param_styleSecond_name=Style de la ligne %D
param_styleSecond_description=Le style de la ligne %D
param_level_overboughtsold_width_name=Largeur des lignes de niveau
param_level_overboughtsold_width_description=La largeur des niveaux de surachat/survente
param_level_overboughtsold_style_name=Style des lignes de niveaux
param_level_overboughtsold_style_description=Le style des niveaux de surachat/survente
param_level_overboughtsold_color_name=Couleur des lignes de niveau
param_level_overboughtsold_color_description=La couleur des niveaux de surachat/survente
param_level_overbought_name=Niveau de surachat
param_level_overbought_description=Le niveau de surachat
param_level_oversold_name=Niveau de survente
param_level_oversold_description=Le niveau de survente
error_bought_bigger_sold=Le paramètre de surachat doit être supérieur à celui de survente

[jpn]
codepage=932
name=スロー・ストキャスティック
description=指定された期間の高値・安値レンジに関連した現在のクローズの場所を表示します。
param_K_name=%K ライン算出の期間
param_K_description=%K ライン算出の期間
param_D_name=%D ライン算出の期間
param_D_description=%D ライン算出の期間
param_SD_name=スロー%D ライン算出の期間
param_SD_description=スロー%D ライン算出の期間
param_clrFirst_name=%K ラインの色
param_clrFirst_description=%K ラインの色
param_widthFirst_name=%Kラインの幅
param_widthFirst_description=%Kラインの幅を設定します
param_styleFirst_name=%Kラインのスタイル
param_styleFirst_description=%Kラインのスタイルを設定します
param_clrSecond_name=%Dラインの色
param_clrSecond_description=%Dラインの色
param_widthSecond_name=%Dラインの幅
param_widthSecond_description=%Dラインの幅を設定します
param_styleSecond_name=%Dラインのスタイル
param_styleSecond_description=%Dラインのスタイルを設定します
param_level_overboughtsold_width_name=水準ラインの幅
param_level_overboughtsold_width_description=買われすぎ/売られすぎ水準ラインの幅
param_level_overboughtsold_style_name=水準ラインのスタイル
param_level_overboughtsold_style_description=買われすぎ/売られすぎ水準ラインのスタイル
param_level_overboughtsold_color_name=水準の色
param_level_overboughtsold_color_description=買われすぎ/売られすぎ水準ラインの色
param_level_overbought_name=買われすぎ水準
param_level_overbought_description=買われすぎの水準
param_level_oversold_name=売られすぎ水準
param_level_oversold_description=売られすぎの水準
error_bought_bigger_sold=買いすぎレベルは売りすぎレベルより上でなくてはならない

[kor]
codepage=949
name=느린 스토케스틱
description=주어진 기간의 높음(high) 와 낮음(low)에 따른 현재 클로즈 장소을 표시
param_K_name=%K의 기간
param_K_description=%K의 기간
param_D_name=%D의 기간
param_D_description=%D의 기간
param_SD_name=느린 %D의 기간
param_SD_description=느린 %D의 기간
param_clrFirst_name=%K의 색상
param_clrFirst_description=%K의 색상
param_widthFirst_name=
param_widthFirst_description=
param_styleFirst_name=
param_styleFirst_description=
param_clrSecond_name=%D의 색상
param_clrSecond_description=%D의 색상
param_widthSecond_name=
param_widthSecond_description=
param_styleSecond_name=
param_styleSecond_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[rus]
codepage=1251
name=Медленный стохастик
description=Показывает положение текущей цены закрытия относительно диапазона минимумов/максимумов за заданное количество периодов.
param_K_name=Количество периодов для %K
param_K_description=Количество периодов для %K.
param_D_name=Количество периодов для %D
param_D_description=Количество периодов для %D.
param_SD_name=Количество периодов для медленного %D
param_SD_description=Количество периодов для медленного %D.
param_clrFirst_name=Цвет линии %K
param_clrFirst_description=Цвет линии %K.
param_widthFirst_name=Ширина линии %K
param_widthFirst_description=Ширина линии %K.
param_styleFirst_name=Стиль линии %K
param_styleFirst_description=Стиль линии %K.
param_clrSecond_name=Цвет линии %D
param_clrSecond_description=Цвет линии %D.
param_widthSecond_name=Ширина линии %D
param_widthSecond_description=Ширина линии %D.
param_styleSecond_name=Стиль линии %D
param_styleSecond_description=Стиль линии %D.
param_level_overboughtsold_width_name=Ширина линий уровней
param_level_overboughtsold_width_description=Ширина линий уровней перекупленности/перепроданности.
param_level_overboughtsold_style_name=Стиль линий уровней
param_level_overboughtsold_style_description=Стиль линий уровней перекупленности/перепроданности.
param_level_overboughtsold_color_name=Цвет линий уровней
param_level_overboughtsold_color_description=Цвет линий уровней перекупленности/перепроданности.
param_level_overbought_name=Уровень перекупленности
param_level_overbought_description=Уровень перекупленности.
param_level_oversold_name=Уровень перепроданности
param_level_oversold_description=Уровень перепроданности.
error_bought_bigger_sold=Уровень перекупленности должен быть выше уровня перепроданности.

[tur]
codepage=1254
name=Yavaş Stokastik
description=Mevcut kapanışın belli bir periyottaki en yüksek/en düşük seviyelere göre yerini gösterir.
param_K_name=%K periyotları
param_K_description=%K'nın periyot sayısı.
param_D_name=%D periyotları
param_D_description=%D'nin periyot sayısı.
param_SD_name=Yavaş %D periyotları
param_SD_description=Yavaş %D'nin periyot sayısı.
param_clrFirst_name=%K çizgi rengi
param_clrFirst_description=%K çizgisinin rengi.
param_widthFirst_name=%K çizgi kalınlığı
param_widthFirst_description=%K çizgisinin kalınlığı.
param_styleFirst_name=%K çizgi biçimi
param_styleFirst_description=%K çizgisinin biçimi.
param_clrSecond_name=%D çizgi rengi
param_clrSecond_description=%D çizgisinin rengi.
param_widthSecond_name=%D çizgi kalınlığı
param_widthSecond_description=%D çizgisinin kalınlığı.
param_styleSecond_name=%D çizgi biçimi
param_styleSecond_description=%D çizgisinin biçimi.
param_level_overboughtsold_width_name=Seviye çizgilerinin kalınlığı
param_level_overboughtsold_width_description=Aşırı alış/aşırı satış seviye çizgilerinin kalınlığı.
param_level_overboughtsold_style_name=Seviye çizgilerinin biçimi
param_level_overboughtsold_style_description=Aşırı alış/aşırı satış seviye çizgilerinin biçimi.
param_level_overboughtsold_color_name=Seviye çizgilerinin rengi
param_level_overboughtsold_color_description=Aşırı alış/aşırı satış seviye çizgilerinin rengi.
param_level_overbought_name=Aşırı alış seviyesi
param_level_overbought_description=Aşırı alış seviyesi.
param_level_oversold_name=Aşırı satış seviyesi
param_level_oversold_description=Aşırı satış seviyesi.
error_bought_bigger_sold=Aşırı alış parametresi aşırı satıştan büyük olmalı.

[ita]
codepage=1252
name=Stochastic Slow
description=Mostra il posizionamento del close corrente in relazione al range high/low di un determinato numero di periodi
param_K_name=Numero di periodi della %K
param_K_description=Il numero di periodi della %K
param_D_name=Numero di periodi della %D
param_D_description=Il numero di periodi della %D
param_SD_name=Numero di periodi della slow %D
param_SD_description=Il numero di periodi della Slow %D
param_clrFirst_name=Colore della linea %K
param_clrFirst_description=Il colore della linea %K
param_widthFirst_name=Spessore della linea %K
param_widthFirst_description=Lo spessore della linea %K
param_styleFirst_name=Stile della linea %K
param_styleFirst_description=Lo stile della linea %K
param_clrSecond_name=Colore della linea %D
param_clrSecond_description=Il colore della linea %D
param_widthSecond_name=Spessore della linea %D
param_widthSecond_description=Lo spessore della linea %D
param_styleSecond_name=Stile della linea %D
param_styleSecond_description=Lo stile della linea %D
param_level_overboughtsold_width_name=Spessore delle linee dei livelli
param_level_overboughtsold_width_description=Lo spessore dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_style_name=Stile delle linee dei livelli
param_level_overboughtsold_style_description=Lo stile dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_color_name=Colore delle linee dei livelli
param_level_overboughtsold_color_description=Il colore dei livelli di ipercomprato/ipervenduto.
param_level_overbought_name=Livello di ipercomprato
param_level_overbought_description=Il livello di ipercomprato
param_level_oversold_name=Livello di ipervenduto
param_level_oversold_description=Il livello di ipervenduto
error_bought_bigger_sold=Il parametro di ipercomprato deve essere maggiore di quello di ipervenduto

[heb]
codepage=1255
name=סטוכסטיקה איטית
description=מציג את מיקום מחיר הנעילה הנוכחי ביחס לשיא\שפל של הטווח בתקופה נתונה.
param_K_name=מספר תקופות של %K
param_K_description=מספר התקופות של %K.
param_D_name=מספר תקופות של %D
param_D_description=מספר התקופות של %D.
param_SD_name=מספר תקופות של %D איטי
param_SD_description=מספר התקופות של %D איטי.
param_clrFirst_name=צבע קו %K
param_clrFirst_description=רוחב הקו של %K.
param_widthFirst_name=רוחב קו %K
param_widthFirst_description=סגנון הקו של %K.
param_styleFirst_name=סגנון קו %K
param_styleFirst_description=צבע הקו של %K.
param_clrSecond_name=צבע קו %D
param_clrSecond_description=צבע הקו של %D.
param_widthSecond_name=רוחב קו %D
param_widthSecond_description=רוחב הקו של %D.
param_styleSecond_name=סגנון קו %D
param_styleSecond_description=סגנון הקו של %D.
param_level_overboughtsold_width_name=רוחב קווי רמה
param_level_overboughtsold_width_description=רוחב קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_style_name=סוג קווי רמה
param_level_overboughtsold_style_description=סוג קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_color_name=צבע קווי רמה
param_level_overboughtsold_color_description=צבע קווי רמות מכירת-יתר\קניית-יתר
param_level_overbought_name=רמת קניית-יתר
param_level_overbought_description=רמת קניית-היתר
param_level_oversold_name=רמת מכירת-יתר
param_level_oversold_description=רמת מכירת-היתר
error_bought_bigger_sold=ערך קניית היתר צריך להיות גדול ממכירת היתר

[pol]
codepage=1250
name=Oscylator stochastyczny wolny
description=Pokazuje położenie aktualnej ceny zamknięcia w relacji do zakresu pomiędzy najniższa i najwyższą ceną w danym okresie
param_K_name=Liczba okresów dla %K
param_K_description=Liczba okresów dla %K
param_D_name=Liczba okresów dla %D
param_D_description=Liczba okresów dla %D
param_SD_name=Liczba okresów dla wolnego %D
param_SD_description=Liczba okresów dla wolnego %D
param_clrFirst_name=Kolor linii %K
param_clrFirst_description=Kolor linii %K.
param_widthFirst_name=Grubość linii %K
param_widthFirst_description=Grubość linii %K.
param_styleFirst_name=Styl linii %K
param_styleFirst_description=Styl linii %K.
param_clrSecond_name=Kolor linii %D
param_clrSecond_description=Kolor linii %D.
param_widthSecond_name=Grubość linii %D
param_widthSecond_description=Grubość linii %D.
param_styleSecond_name=Styl linii %D
param_styleSecond_description=Styl linii %D.
param_level_overboughtsold_width_name=Grubość linii poziomych
param_level_overboughtsold_width_description=Grubość linii poziomów wykupienia/wyprzedania.
param_level_overboughtsold_style_name=Styl linii poziomych
param_level_overboughtsold_style_description=Styl linii poziomów wykupienia/wyprzedania.
param_level_overboughtsold_color_name=Kolor linii poziomych
param_level_overboughtsold_color_description=Kolor linii poziomów wykupienia/wyprzedania.
param_level_overbought_name=Poziom wykupienia
param_level_overbought_description=Poziom wykupienia.
param_level_oversold_name=Poziom wyprzedania
param_level_oversold_description=Poziom wyprzedania.
error_bought_bigger_sold=Wysokość poziomu wykupienia musi być większa, niż poziomu wyprzedania

[cze]
codepage=1250
name=Pomalý stochastic
description=Zobrazuje umístění poslední závěrečné hodnoty ve vztahu k úrovním minima a maxima za zvolené období .
param_K_name=%K period
param_K_description=Počet period pro %K.
param_D_name=%D period
param_D_description=Počet period pro %D.
param_SD_name=%D zpomalující periody
param_SD_description=Počet period pro %D.
param_clrFirst_name=%K barva linky
param_clrFirst_description=Barva %K linky.
param_widthFirst_name=%K linka šíře
param_widthFirst_description=Šíře %K linky.
param_styleFirst_name=%K linka styl
param_styleFirst_description=Styl %K linky.
param_clrSecond_name=%D barva linky
param_clrSecond_description=Barva %D linky.
param_widthSecond_name=%D linka šíře
param_widthSecond_description=Šíře %D linky.
param_styleSecond_name=%D linka styl
param_styleSecond_description=Styl %D linky.
param_level_overboughtsold_width_name=Šíře úrovňové linky
param_level_overboughtsold_width_description=Šíře úrovně překoupení/přeprodání.
param_level_overboughtsold_style_name=Styl úrovňové linky
param_level_overboughtsold_style_description=Styl úrovně překoupení/přeprodání.
param_level_overboughtsold_color_name=Barva úrovňové linky.
param_level_overboughtsold_color_description=Barva úrovně překoupení/přeprodání.
param_level_overbought_name=Úroveň překoupení
param_level_overbought_description=Úroveň překoupení.
param_level_oversold_name=Úroveň přeprodání
param_level_oversold_description=Úroveň přeprodání.
error_bought_bigger_sold=Parametr překoupení musí být větší než přeprodání.

[por]
codepage=1252
name=Estocástico Lento
description=Mostra o lugar do fechamento atual com respeito ao intervalo de altos/baixos sobre um número de períodos determinados.
param_K_name=Período para %K
param_K_description=O número de períodos para %K
param_D_name=Período para %D
param_D_description=O número de períodos para %D
param_SD_name=Número de períodos para %D lento
param_SD_description=O número de períodos para %D lento
param_clrFirst_name=Cor da linha %K
param_clrFirst_description=A cor da linha %K.
param_widthFirst_name=Largura da linha %K
param_widthFirst_description=A largura da linha %K.
param_styleFirst_name=Estilo da linha %K
param_styleFirst_description=O estilo da linha %K.
param_clrSecond_name=Cor da linha %D
param_clrSecond_description=A cor da linha %D.
param_widthSecond_name=Largura da linha %D
param_widthSecond_description=A largura da linha %D.
param_styleSecond_name=Estilo da linha %D
param_styleSecond_description=O estilo da linha %D.
param_level_overboughtsold_width_name=Largura das linhas de níveis
param_level_overboughtsold_width_description=A largura dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_style_name=Estilo de linhas de níveis
param_level_overboughtsold_style_description=O estilo dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_color_name=Cor das linhas de níveis
param_level_overboughtsold_color_description=A cor dos níveis sobre-comprados/sobre-vendidos.
param_level_overbought_name=Nível sobre-comprado.
param_level_overbought_description=O nível sobre-comprado.
param_level_oversold_name=Nível sobre-vendido.
param_level_oversold_description=O nível sobre-vendido.
error_bought_bigger_sold=O parâmetro sobre-comprado deve ser maior do que sobre-vendido.

[gre]
codepage=1253
name=Stochastic Slow
description=Δείχνει τη θέση της τρέχουσας τιμής κλεισίματος σε σχέση με τα όρια υψηλών/χαμηλών σε συγκεκριμένο αριθμό περιόδων.
param_K_name=Αριθμός περιόδων για %K
param_K_description=Ο αριθμός περιόδων για %K.
param_D_name=Αριθμός περιόδων για %D
param_D_description=Ο αριθμός περιόδων για %D.
param_SD_name=Αριθμός περιόδων για αργό %D
param_SD_description=Ο αριθμός περιόδων για αργό %D.
param_clrFirst_name=Χρώμα γραμμής %K
param_clrFirst_description=Το χρώμα της γραμμής %Κ.
param_widthFirst_name=Πάχος γραμμής για %K
param_widthFirst_description=Το πάχος της γραμμής για %K
param_styleFirst_name=Στυλ γραμμής για %K
param_styleFirst_description=Το στυλ της γραμμής για %K
param_clrSecond_name=Χρώμα γραμμής %D
param_clrSecond_description=Το χρώμα της γραμμής %D.
param_widthSecond_name=Πάχος γραμμής για %D
param_widthSecond_description=Το πάχος της γραμμής για %D
param_styleSecond_name=Στυλ γραμμής για %D
param_styleSecond_description=Το στυλ της γραμμής για %D
param_level_overboughtsold_width_name=Πάχος γραμμών επιπέδου
param_level_overboughtsold_width_description=Το πάχος των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_style_name=Στυλ γραμμών επιπέδου
param_level_overboughtsold_style_description=Το στυλ των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_color_name=Χρώμα γραμμών επιπέδου
param_level_overboughtsold_color_description=Το χρώμα των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overbought_name=Υπεραγωρασμένο επίπεδο
param_level_overbought_description=Το υπεραγωρασμένο επίπεδο
param_level_oversold_name=Υπερπουλημένο επίπεδο
param_level_oversold_description=Το Υπερπουλημένο επίπεδο
error_bought_bigger_sold=Το υπεραγορασμένο επίπεδο πρέπει να είναι μεγαλύτερο από το υπερπουλημένο.

