INSERT INTO [FXCM].[fxcm].[T_Rate_1m]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_1m]
GO

INSERT INTO [FXCM].[fxcm].[T_Rate_15m]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_15m]
GO


INSERT INTO [FXCM].[fxcm].[T_Rate_Hourly]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_Hourly]
GO


INSERT INTO [FXCM].[fxcm].[T_Rate_Daily]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_Daily]
GO


INSERT INTO [FXCM].[fxcm].[T_Rate_Weekly]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_Weekly]
GO


INSERT INTO [FXCM].[fxcm].[T_Rate_Monthly]
	([通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り])
SELECT
	 [通貨ペアNo]
	,[日時]
	,[Rate_始値_買い]
	,[Rate_高値_買い]
	,[Rate_安値_買い]
	,[Rate_終値_買い]
	,[Rate_始値_売り]
	,[Rate_高値_売り]
	,[Rate_安値_売り]
	,[Rate_終値_売り]
FROM [RealA_FX].[fxcm].[T_Rate_Monthly]
GO

