USE DemoA_FX
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [cmn].[tSettings](
	[No] [tinyint] NOT NULL,
	[値] [float] NULL,
	[備考1] [varchar](100) NULL,
	[備考2] [varchar](100) NULL,
CONSTRAINT [PK_tSettings] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO


DECLARE @No int = 0
WHILE @No < 100
BEGIN
	INSERT INTO [cmn].[tSettings] ([No]) VALUES (@No);
	SET @No = @No + 1;
END
GO
