USE OANDA_DemoB
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [cmn].[t環境設定](
	[No]		[int]			NOT NULL,
	[値]		[varchar](100)	NULL,
	[区分]		[varchar](100)	NULL,
	[備考]		[varchar](1000)	NULL,
	[登録日時]	[datetime]		NULL,
	[更新日時]	[datetime]		NULL,
CONSTRAINT [PK_t環境設定] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO

