USE OANDA_DemoB
GO

DROP PROCEDURE [oanda].[spSelectTrade_リミット変更]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [oanda].[spSelectTrade_リミット変更]
    @口座No	Int,
	@from	DateTime,
	@to		DateTime
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		 [日時]
		,[リミット変更対象id]
		,[id]
		,[instrument]
		,[units]
		,[side]
		,[time]
		,[price]
		,[takeProfit]
		,[stopLoss]
		,[trailingStop]
		,[trailingAmount]
	FROM [oanda].[tTrade_リミット変更]
	where 口座No = @口座No AND @from <= [time] and [time] < @to
	order by [time]

END
GO
