USE [DemoA_FX]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [hltc].[T_処理Cnt_Hourly](
	[日時] [datetime] NOT NULL,
	[OrderタイミングCnt] [int] NULL,
CONSTRAINT [PK_T_処理Cnt_Hourly] PRIMARY KEY CLUSTERED 
(
	[日時] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO


