USE DemoA_FX
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [hltc].[t処理時間](
	[処理区分]	[tinyint]	NOT NULL,
	[処理開始]	[datetime]	NOT NULL,
	[処理終了]	[datetime]	NOT NULL,
CONSTRAINT [PK_tありえないタイミングで実行された注文] PRIMARY KEY CLUSTERED 
(
	[処理区分] ASC,
	[処理開始] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
