<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AutoFx_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="AutoFx_Form.Properties.Settings.FXConnectionString"
        connectionString="Data Source=1111.8;Initial Catalog=FX_DemoA;User ID=sa;Password=1111"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <AutoFx_Form.Properties.Settings>
            <setting name="Connection_買い" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Connection_売り" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Username_買い" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Username_売り" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password_買い" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password_売り" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="下値限界Rate_買い" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="下値限界Rate_売り" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="高値限界Rate_買い" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="高値限界Rate_売り" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="取引間隔_買い" serializeAs="String">
                <value />
            </setting>
            <setting name="取引間隔_売り" serializeAs="String">
                <value />
            </setting>
            <setting name="txtリミット_買い" serializeAs="String">
                <value />
            </setting>
            <setting name="txtリミット_売り" serializeAs="String">
                <value />
            </setting>
            <setting name="txt取引単位_買い" serializeAs="String">
                <value />
            </setting>
            <setting name="txt取引単位_売り" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeInterval_買い" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeInterval_売り" serializeAs="String">
                <value />
            </setting>
            <setting name="更新Rate幅_買い" serializeAs="String">
                <value />
            </setting>
            <setting name="更新Rate幅_売り" serializeAs="String">
                <value />
            </setting>
        </AutoFx_Form.Properties.Settings>
    </userSettings>
</configuration>
