USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Rate週トレンド](
	[通貨ペア] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[week] [tinyint] NOT NULL,
	[Rate平均] [float] NOT NULL,
	[トレンド] [varchar](5) NULL,
 CONSTRAINT [PK_Rate週トレンド] PRIMARY KEY CLUSTERED 
(
	[通貨ペア] ASC,
	[year] ASC,
	[week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
