USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_通貨ペアMst](
	[No] [tinyint] NOT NULL,
	[ペア名] [varchar](50) NOT NULL,
	[SMLT_シグマ閾値] [float] NULL,
	[SMLT_直近1ヵ月の利益Sum] [float] NULL,
	[口座種別] [varchar](10) NULL,
 CONSTRAINT [PK_T_通貨ペアMst] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
