USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_利益History_Monthly](
	[日時] [date] NOT NULL,
	[利益] [int] NOT NULL,
	[Order数] [int] NOT NULL,
	[Close数] [int] NOT NULL,
	[損切りClose数] [int] NOT NULL,
	[損切り金額] [int] NOT NULL,
 CONSTRAINT [PK_T_利益History_Monthly] PRIMARY KEY CLUSTERED 
(
	[日時] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
