USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_危険度](
	[通貨ペアNo] [tinyint] NOT NULL,
	[危険度_Monthly] [varchar](10) NULL,
	[危険度_Weekly] [varchar](10) NULL,
	[危険度_Daily] [varchar](10) NULL,
 CONSTRAINT [PK_T_危険度] PRIMARY KEY CLUSTERED 
(
	[通貨ペアNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
