USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [indi].[T_Indicator_15m](
	[通貨ペアNo] [tinyint] NOT NULL,
	[日時] [datetime] NOT NULL,
	[WMA_買い_WMA] [float] NULL,
	[WMA_売り_WMA] [float] NULL,
	[WMA_買い_WMA上昇角度] [float] NULL,
	[WMA_売り_WMA上昇角度] [float] NULL,
	[WMA_買い_WMA上昇角度_シグマ] [float] NULL,
	[WMA_売り_WMA上昇角度_シグマ] [float] NULL,
	[WMA_買い_WMA_S2] [float] NULL,
	[WMA_売り_WMA_S2] [float] NULL,
	[WMA_買い_WMA上昇角度_S2] [float] NULL,
	[WMA_売り_WMA上昇角度_S2] [float] NULL,
 CONSTRAINT [PK_Indicator_15m] PRIMARY KEY CLUSTERED 
(
	[通貨ペアNo] ASC,
	[日時] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
