USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [smlt].[T_Indicator_15m](
	[通貨ペアNo] [tinyint] NOT NULL,
	[日時] [datetime] NOT NULL,
	[AC_買い_AC] [float] NULL,
	[AC_売り_AC] [float] NULL,
	[AD_買い_AD] [float] NULL,
	[AD_売り_AD] [float] NULL,
	[ADX_買い_ADX] [float] NULL,
	[ADX_売り_ADX] [float] NULL,
	[ALLIGATOR_買い_Jaw] [float] NULL,
	[ALLIGATOR_買い_Teeth] [float] NULL,
	[ALLIGATOR_買い_Lips] [float] NULL,
	[ALLIGATOR_売り_Jaw] [float] NULL,
	[ALLIGATOR_売り_Teeth] [float] NULL,
	[ALLIGATOR_売り_Lips] [float] NULL,
	[AO_買い_AO] [float] NULL,
	[AO_売り_AO] [float] NULL,
	[AROON_買い_UP] [float] NULL,
	[AROON_買い_DOWN] [float] NULL,
	[AROON_売り_UP] [float] NULL,
	[AROON_売り_DOWN] [float] NULL,
	[ARSI_買い_ARSI] [float] NULL,
	[ARSI_売り_ARSI] [float] NULL,
	[ASI_買い_ASI] [float] NULL,
	[ASI_売り_ASI] [float] NULL,
	[ATR_買い_ATR] [float] NULL,
	[ATR_売り_ATR] [float] NULL,
	[BB_買い_TL] [float] NULL,
	[BB_買い_BL] [float] NULL,
	[BB_買い_AL] [float] NULL,
	[BB_売り_TL] [float] NULL,
	[BB_売り_BL] [float] NULL,
	[BB_売り_AL] [float] NULL,
	[CCI_買い_CCI] [float] NULL,
	[CCI_売り_CCI] [float] NULL,
	[CHO_買い_CHO] [float] NULL,
	[CHO_売り_CHO] [float] NULL,
	[CMF_買い_CMF] [float] NULL,
	[CMF_売り_CMF] [float] NULL,
	[CMO_買い_CMO] [float] NULL,
	[CMO_売り_CMO] [float] NULL,
	[DMI_買い_DI_plus] [float] NULL,
	[DMI_買い_DI_minus] [float] NULL,
	[DMI_売り_DI_plus] [float] NULL,
	[DMI_売り_DI_minus] [float] NULL,
	[EMA_買い_EMA] [float] NULL,
	[EMA_売り_EMA] [float] NULL,
	[EW_買い_EW] [float] NULL,
	[EW_売り_EW] [float] NULL,
	[EWN_買い_EWN] [float] NULL,
	[EWN_売り_EWN] [float] NULL,
	[EWO_買い_EWO] [float] NULL,
	[EWO_売り_EWO] [float] NULL,
	[GATOR_買い_UP] [float] NULL,
	[GATOR_買い_DN] [float] NULL,
	[GATOR_売り_UP] [float] NULL,
	[GATOR_売り_DN] [float] NULL,
	[HA_買い_始値] [float] NULL,
	[HA_買い_終値] [float] NULL,
	[HA_買い_高値] [float] NULL,
	[HA_買い_安値] [float] NULL,
	[HA_売り_始値] [float] NULL,
	[HA_売り_終値] [float] NULL,
	[HA_売り_高値] [float] NULL,
	[HA_売り_安値] [float] NULL,
	[ICH_買い_TL] [float] NULL,
	[ICH_買い_KL] [float] NULL,
	[ICH_買い_CS] [float] NULL,
	[ICH_買い_SA] [float] NULL,
	[ICH_買い_SB] [float] NULL,
	[ICH_売り_TL] [float] NULL,
	[ICH_売り_KL] [float] NULL,
	[ICH_売り_CS] [float] NULL,
	[ICH_売り_SA] [float] NULL,
	[ICH_売り_SB] [float] NULL,
	[KAMA_買い_KAMA] [float] NULL,
	[KAMA_売り_KAMA] [float] NULL,
	[KRI_買い_KRI] [float] NULL,
	[KRI_売り_KRI] [float] NULL,
	[LWMA_買い_LWMA] [float] NULL,
	[LWMA_売り_LWMA] [float] NULL,
	[MACD_買い_MACD] [float] NULL,
	[MACD_売り_MACD] [float] NULL,
	[MACD_買い_SIGNAL] [float] NULL,
	[MACD_売り_SIGNAL] [float] NULL,
	[MACD_買い_HISTOGRAM] [float] NULL,
	[MACD_売り_HISTOGRAM] [float] NULL,
	[MAE_買い_ME1] [float] NULL,
	[MAE_買い_ME2] [float] NULL,
	[MAE_売り_ME1] [float] NULL,
	[MAE_売り_ME2] [float] NULL,
	[MD_買い_MD] [float] NULL,
	[MD_売り_MD] [float] NULL,
	[MVA_買い_MVA] [float] NULL,
	[MVA_売り_MVA] [float] NULL,
	[OSC_買い_OSC] [float] NULL,
	[OSC_売り_OSC] [float] NULL,
	[PIVOT_買い_PIVOT] [float] NULL,
	[PIVOT_売り_PIVOT] [float] NULL,
	[PPMA_買い_PPMA] [float] NULL,
	[PPMA_売り_PPMA] [float] NULL,
	[REGRESSION_買い_REGRESSION] [float] NULL,
	[REGRESSION_売り_REGRESSION] [float] NULL,
	[RLW_買い_PercentR] [float] NULL,
	[RLW_売り_PercentR] [float] NULL,
	[ROC_買い_ROC] [float] NULL,
	[ROC_売り_ROC] [float] NULL,
	[RSI_買い_RSI] [float] NULL,
	[RSI_売り_RSI] [float] NULL,
	[SAR_買い_UP] [float] NULL,
	[SAR_買い_DN] [float] NULL,
	[SAR_売り_UP] [float] NULL,
	[SAR_売り_DN] [float] NULL,
	[SFK_買い_K] [float] NULL,
	[SFK_買い_D] [float] NULL,
	[SFK_売り_K] [float] NULL,
	[SFK_売り_D] [float] NULL,
	[SHIFT_I_買い_MVA] [float] NULL,
	[SHIFT_I_売り_MVA] [float] NULL,
	[SHIFT_O_買い_ADX] [float] NULL,
	[SHIFT_O_売り_ADX] [float] NULL,
	[SHOWTIMETOEND_買い_SHOWTIMETOEND] [float] NULL,
	[SHOWTIMETOEND_売り_SHOWTIMETOEND] [float] NULL,
	[SMMA_買い_SMMA] [float] NULL,
	[SMMA_売り_SMMA] [float] NULL,
	[SSD_買い_K] [float] NULL,
	[SSD_買い_D] [float] NULL,
	[SSD_売り_K] [float] NULL,
	[SSD_売り_D] [float] NULL,
	[STOCHASTIC_買い_K] [float] NULL,
	[STOCHASTIC_買い_D] [float] NULL,
	[STOCHASTIC_売り_K] [float] NULL,
	[STOCHASTIC_売り_D] [float] NULL,
	[TMA_買い_TMA] [float] NULL,
	[TMA_売り_TMA] [float] NULL,
	[TMACD_買い_TMACD] [float] NULL,
	[TMACD_売り_TMACD] [float] NULL,
	[TSI_買い_TSI] [float] NULL,
	[TSI_売り_TSI] [float] NULL,
	[VIDYA_買い_V] [float] NULL,
	[VIDYA_売り_V] [float] NULL,
	[WMA_買い_WMA] [float] NULL,
	[WMA_売り_WMA] [float] NULL,
	[ZIGZAG_買い_Up] [float] NULL,
	[ZIGZAG_売り_Up] [float] NULL,
	[WMA_買い_WMA上昇角度] [float] NULL,
	[WMA_売り_WMA上昇角度] [float] NULL,
	[WMA_買い_WMA上昇角度_シグマ] [float] NULL,
	[WMA_売り_WMA上昇角度_シグマ] [float] NULL,
 CONSTRAINT [PK_Indicator_15m] PRIMARY KEY CLUSTERED 
(
	[通貨ペアNo] ASC,
	[日時] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
