USE [RealB_Kabu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [smlt].[T_BonusStageHistory評価_直近1ヵ月](
	[通貨ペアNo] [tinyint] NOT NULL,
	[シグマ閾値] [float] NOT NULL,
	[利益Sum] [float] NULL,
 CONSTRAINT [PK_T_BonusStageHistory評価_直近1ヵ月] PRIMARY KEY CLUSTERED 
(
	[通貨ペアNo] ASC,
	[シグマ閾値] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
