USE [OANDA_DemoB]
GO

DROP PROCEDURE [acv].[spSave_oder_tOrderHistory2]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [acv].[spSave_oder_tOrderHistory2]
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [OANDA_DemoB_ACV].oder.tOrderHistory2(
		[口座No],
		[通貨ペアNo],
		[日時],
		[買いSwap],
		[売りSwap],
		[Swap判定],
		[買いRate],
		[売りRate],
		[売買判定],
		[売買],
		[保持ポジション],
		[BS_Min15_買いWMAs14],
		[BS_Min15_買いWMAs14角度],
		[BS_Min15_買いWMAs14角度シグマ],
		[BS_Min15_売りWMAs14],
		[BS_Min15_売りWMAs14角度],
		[BS_Min15_売りWMAs14角度シグマ],
		[BS_WMA判定_15m],
		[BS判定_15m],
		[BS開始],
		[BS判定_前],
		[BS判定_今],
		[差分リミット通常],
		[差分リミットBS],
		[ポジション追加_成行_ストップ],
		[ポジション追加_成行_リミット],
		[ポジション追加時のリミット],
		[注文単位],
		[Month1_Start],
		[Month1_End],
		[Month1_買いWMAs2],
		[Month1_買いWMAs2角度],
		[Month1_買いWMAs14],
		[Month1_売りWMAs2],
		[Month1_売りWMAs2角度],
		[Month1_売りWMAs14],
		[Week1_Start],
		[Week1_End],
		[Week1_買いWMAs2],
		[Week1_買いWMAs2角度],
		[Week1_買いWMAs14],
		[Week1_売りWMAs2],
		[Week1_売りWMAs2角度],
		[Week1_売りWMAs14],
		[Day1_Start],
		[Day1_End],
		[Day1_買いWMAs2],
		[Day1_買いWMAs14],
		[Day1_買いWMAs2角度],
		[Day1_売りWMAs2],
		[Day1_売りWMAs14],
		[Day1_売りWMAs2角度],
		[Hour1_Start],
		[Hour1_End],
		[Hour1_買いWMAs2],
		[Hour1_買いWMAs2角度],
		[Hour1_買いWMAs14],
		[Hour1_売りWMAs2],
		[Hour1_売りWMAs2角度],
		[Hour1_売りWMAs14],
		[Min15_Start],
		[Min15_End],
		[Min15_買いWMAs2],
		[Min15_買いWMAs2角度],
		[Min15_買いWMAs14],
		[Min15_売りWMAs2],
		[Min15_売りWMAs2角度],
		[Min15_売りWMAs14],
		[Min5_Start],
		[Min5_End],
		[Min5_買いWMAs2],
		[Min5_買いWMAs2角度],
		[Min5_買いWMAs14],
		[Min5_売りWMAs2],
		[Min5_売りWMAs2角度],
		[Min5_売りWMAs14],
		[Min1_Start],
		[Min1_End],
		[Min1_買いWMAs2],
		[Min1_買いWMAs2角度],
		[Min1_買いWMAs14],
		[Min1_売りWMAs2],
		[Min1_売りWMAs2角度],
		[Min1_売りWMAs14],
		[OpenOrderID],
		[TradeID],
		[CloseOrderID],
		[Close日時],
		[Oanda_TradeData_id],
		[妥当性],
		[登録日時],
		[更新日時])
	SELECT 
		[口座No],
		[通貨ペアNo],
		[日時],
		[買いSwap],
		[売りSwap],
		[Swap判定],
		[買いRate],
		[売りRate],
		[売買判定],
		[売買],
		[保持ポジション],
		[BS_Min15_買いWMAs14],
		[BS_Min15_買いWMAs14角度],
		[BS_Min15_買いWMAs14角度シグマ],
		[BS_Min15_売りWMAs14],
		[BS_Min15_売りWMAs14角度],
		[BS_Min15_売りWMAs14角度シグマ],
		[BS_WMA判定_15m],
		[BS判定_15m],
		[BS開始],
		[BS判定_前],
		[BS判定_今],
		[差分リミット通常],
		[差分リミットBS],
		[ポジション追加_成行_ストップ],
		[ポジション追加_成行_リミット],
		[ポジション追加時のリミット],
		[注文単位],
		[Month1_Start],
		[Month1_End],
		[Month1_買いWMAs2],
		[Month1_買いWMAs2角度],
		[Month1_買いWMAs14],
		[Month1_売りWMAs2],
		[Month1_売りWMAs2角度],
		[Month1_売りWMAs14],
		[Week1_Start],
		[Week1_End],
		[Week1_買いWMAs2],
		[Week1_買いWMAs2角度],
		[Week1_買いWMAs14],
		[Week1_売りWMAs2],
		[Week1_売りWMAs2角度],
		[Week1_売りWMAs14],
		[Day1_Start],
		[Day1_End],
		[Day1_買いWMAs2],
		[Day1_買いWMAs14],
		[Day1_買いWMAs2角度],
		[Day1_売りWMAs2],
		[Day1_売りWMAs14],
		[Day1_売りWMAs2角度],
		[Hour1_Start],
		[Hour1_End],
		[Hour1_買いWMAs2],
		[Hour1_買いWMAs2角度],
		[Hour1_買いWMAs14],
		[Hour1_売りWMAs2],
		[Hour1_売りWMAs2角度],
		[Hour1_売りWMAs14],
		[Min15_Start],
		[Min15_End],
		[Min15_買いWMAs2],
		[Min15_買いWMAs2角度],
		[Min15_買いWMAs14],
		[Min15_売りWMAs2],
		[Min15_売りWMAs2角度],
		[Min15_売りWMAs14],
		[Min5_Start],
		[Min5_End],
		[Min5_買いWMAs2],
		[Min5_買いWMAs2角度],
		[Min5_買いWMAs14],
		[Min5_売りWMAs2],
		[Min5_売りWMAs2角度],
		[Min5_売りWMAs14],
		[Min1_Start],
		[Min1_End],
		[Min1_買いWMAs2],
		[Min1_買いWMAs2角度],
		[Min1_買いWMAs14],
		[Min1_売りWMAs2],
		[Min1_売りWMAs2角度],
		[Min1_売りWMAs14],
		[OpenOrderID],
		[TradeID],
		[CloseOrderID],
		[Close日時],
		[Oanda_TradeData_id],
		[妥当性],
		[登録日時],
		[更新日時]
	FROM [OANDA_DemoB].oder.tOrderHistory2 as a
	WHERE not exists 
		(
			SELECT *
			FROM [OANDA_DemoB_ACV].oder.tOrderHistory2 as b
			WHERE a.[口座No] = b.[口座No] AND a.[通貨ペアNo] = b.[通貨ペアNo] AND a.日時 = b.日時
		);

END
GO

